@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-weight: 300;
  }
  [type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  }
}

.font-mono {
  font-variant-ligatures: none;
  font-weight: 400;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #262626 inset;
  -webkit-text-fill-color: #f5f5f5;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px #262626 inset;
  -webkit-text-fill-color: #f5f5f5;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.15em;
  width: 1.15em;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' fill='white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 51.9'%3E%3Cpolygon points='57.84 2.93 55.02 0.11 32 23.12 8.98 0.1 6.16 2.93 29.17 25.95 6.16 48.97 8.98 51.8 32 28.78 55.02 51.8 57.84 48.97 34.83 25.95 57.84 2.93'%3E%3C/polygon%3E%3C/svg%3E");
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.75;
  pointer-events: all;
}

.grecaptcha-badge {
  visibility: hidden;
}
