<div class="grid grid-cols-2 gap-4">
  <% @projects.each do |project| %>
    <div class="border border-neutral-700 rounded-xl">
      <div class="flex p-4 gap-8">
        <img src="<%= url_for(project.thumbnail) %>" class="overflow-hidden rounded-lg bg-neutral-800 w-16 h-16">
        <div class="flex-1">
          <h4 class="text-md">
            <%= link_to project.title, project_path(project) %>
          </h4>
          <p class="font-light text-sm text-neutral-300"><%= project.short_description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
