<%= content_tag :div, @rest do %>
  <div class="absolute -z-10 h-full w-full pr-2 pb-2 -translate-x-2 translate-y-2">
    <div class="border border-white rounded-lg h-full w-full"></div>
  </div>
  <div class="border border-white rounded-lg p-8 bg-black h-full">
     <%= content %>
  </div>
<% end %>
