<%= content_tag :div, @rest do %>
  <% if @scheme == :hollow %>
  <div class="absolute -z-10 h-full w-full pr-2 pb-2 -translate-x-2 translate-y-2">
    <div class="border border-white rounded-lg h-full w-full"></div>
  </div>
  <div class="border border-white rounded-lg p-6 bg-black h-full">
     <%= content %>
  </div>
  <% elsif @scheme == :filled %>
  <div class="absolute -z-10 h-full w-full pr-2 pb-2 -translate-x-2 translate-y-2">
    <div class="border border-neutral-500 rounded-lg h-full w-full"></div>
  </div>
  <div class="rounded-lg p-6 bg-neutral-800 h-full">
     <%= content %>
  </div>
  <% end %>
<% end %>
