<%= content_tag :div, **@rest do %>
    <div class="flex items-center mx-auto">
      <div class="flex items-center gap-2 md:gap-4 text-xs sm:text-sm md:text-medium text-teal-900">
        <%= render ButtonComponent.new(href: nft_offer_path('aptos-zero'), title: 'Claim your Aptos Testnet NFT', size: :tiny, scheme: :primary, class: 'hidden md:block bg-neutral-900 hover:bg-teal-800 text-teal-400') do %>
          APTOS:ZERO
        <% end %>
        <p class="block">
          Claim your Aptos Testnet NFT
        </p>
        <%= render ButtonComponent.new(href: nft_offer_path('aptos-zero'), title: 'Claim your Aptos Testnet NFT', scheme: :tertiary, class: '!p-0 flex items-center gap-1 capitalize text-teal-900 font-sans hover:text-teal-900/75 text-xs sm:text-sm md:text-medium', size: :small) do %>
          Go
          <span class="text-sm sm:text-lg leading-none">&rarr;</span>
        <% end %>
      </div>
    </div>
    <button type="button" class="inline-flex justify-center items-center text-teal-900 hover:text-teal-900/50 text-sm p-1.5" data-action="visibility#hideTargetsSessionStorage" aria-label="Close Announcement">
      <span class="sr-only">Close Announcement</span>
      <%= render IconComponent.new(:close, size: :small, class: '') %>
    </button>
<% end %>
