<%= content_tag :header, **@rest do %>
  <a class="flex items-center gap-2 md:gap-4" href="/" title="Aptos - Building the safest and most scalable Layer 1 blockchain">
    <%= render IconComponent.new(:aptos_word, class: 'h-6 md:h-8') %>
    <span class="font-display font-light text-neutral-200 text-xs md:text-base">Community</span>
  </a>
  <div class="flex gap-8 font-mono uppercase text-sm md:text-base">
     <a class="hover:text-neutral-300" href="/it1" title="AIT1 Validator Status">
      Validator Status
    </a>
    <a class="hidden sm:block" href="https://aptos.dev" title="Aptos Docs" target="_blank">
      Docs
    </a>
    <a class="hidden sm:block" href="https://explorer.devnet.aptos.dev/" title="Aptos Explorer" target="_blank">
      Explorer
    </a>
  </div>
<% end %>
