<button class="relative group text-left normal-case font-sans text-xs cursor-pointer">
  <%= render IconComponent.new(:info, size: @size, class: 'text-neutral-700 group-focus:text-neutral-600 group-hover:text-neutral-600') %>
  <div class="absolute min-w-max right-0 top-4 scale-0 opacity-0 group-focus:scale-100 group-focus-within:scale-100 group-hover:scale-100 group-focus:opacity-100 group-focus-within:opacity-100 group-hover:opacity-100 origin-top-right transition-opacity duration-150 cursor-default">
    <div class="pointer-events-auto mt-4 bg-neutral-700 rounded-md flex flex-col flex-1 max-w-xs">
      <h3 class="bg-neutral-600 p-4 rounded-t-md"><%= header %></h3>
      <div class="p-4 flex flex-col flex-1">
        <%= body %>
      </div>
    </div>
  </div>
</button>
