<%= content_tag :div, @rest do %>
  <div class="bg-neutral-800 flex gap-4 p-6 h-full">
    <%= image_tag @project.thumbnail, class: 'w-12 h-12' %>
    <div>
      <h4 class="text-lg font-bold font-display leading-tight mb-1">
        <%= link_to @project.title, project_path(@project) %>
      </h4>
      <p class="text-neutral-300 text-sm">
        <%= @project.short_description %>
      </p>
    </div>
  </div>
<% end %>
