.mainContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: var(--nav-height-mobile);
  padding-top: 6px;
}

.cornerLink text {
  font-weight: lighter;
  text-shadow: none;
}

html[data-theme='dark'] .cornerLink text {
  fill: white;
  font-weight: normal;
  transform: translate(-1px, 1px);
}
