# list of files to ignore from docker's perspective
# The more we can exclude the higher likelihood we can reuse cached layers

# exclude everything
**/*

# explicitly include stuff we actually need via negation

!docker/build-rust-all.sh
!docker/builder/*.sh
!docker/tools/boto.cfg

!target/release/

!.cargo/
!**/Cargo.toml
!**/Cargo.lock
!**/*.mv
!**/*.rs
!**/*.mrb
!**/*.errmap
!config/src/config/test_data
!aptos-move/aptos-gas-profiling/templates/
!aptos-move/aptos-release-builder/data/*.yaml
!aptos-move/aptos-release-builder/data/proposals/*
!aptos-move/framework/
!aptos-move/move-examples/hello_blockchain/
!crates/aptos/src/move_tool/*.bpl
!crates/aptos-localnet/src/hasura_metadata.json
!crates/aptos-faucet/doc/
!crates/transaction-emitter-lib/src/emitter/test_proofs_for_localnet_txn_emitter.txt
!api/doc/
!crates/indexer/migrations/**/*.sql
!ecosystem/indexer-grpc/indexer-grpc-parser/migrations/**/*.sql
!ecosystem/nft-metadata-crawler/migrations/**/*.sql
!rust-toolchain.toml
!scripts/
!terraform/helm/aptos-node/
!terraform/helm/genesis/
!testsuite/forge/src/backend/k8s/
!third_party/move/move-prover/boogie-backend/**/*.bpl
!testsuite/testcases/src/data/
!types/src/jwks/rsa/insecure_test_jwk.json
!types/src/jwks/rsa/secure_test_jwk.json
!types/src/jwks/rsa/insecure_test_jwk_private_key.pem
