# list of files to ignore from docker's perspective
# The more we can exclude the higher likelihood we can reuse cached layers

# exclude everything
**/*

# explicitly include stuff we actually need via negation

!docker/build-rust-all.sh
!docker/tools/boto.cfg

!.cargo/
!**/Cargo.toml
!**/Cargo.lock
!**/*.mv
!**/*.rs
!**/*.mrb
!config/src/config/test_data
!aptos-move/framework/
!crates/aptos/src/move_tool/*.bpl
!api/doc/
!crates/indexer/migrations/**/*.sql
!ecosystem/sf-indexer/aptos-sf-indexer/migrations/**/*.sql
!ecosystem/sf-indexer/aptos-substreams/*.spkg
!terraform/helm/aptos-node/
!terraform/helm/genesis/
!testsuite/forge/src/backend/k8s/
