[submodule "ecosystem/indexer-grpc/indexer-grpc-parser/aptos-indexer-processors"]
	path = ecosystem/indexer-grpc/indexer-grpc-parser/aptos-indexer-processors
	url = git@github.com:aptos-labs/aptos-indexer-processors.git
