0xbe1 <0xbetrue@gmail.com> <101405096+0xbe1@users.noreply.github.com>
0xchloe <79347459+0xchloe@users.noreply.github.com> <79347459+chloeqjz@users.noreply.github.com>
Bowen Yang <carlyang007@gmail.com>
Clay Murphy <114445310+clay-aptos@users.noreply.github.com> <claymurphy@Clays-Air.localdomain>
Clay Murphy <114445310+clay-aptos@users.noreply.github.com> <claymurphy@Clays-MacBook-Air.local>
Clay Murphy <114445310+clay-aptos@users.noreply.github.com> <claymurphy@MacBook-Air.local>
Clay Murphy <114445310+clay-aptos@users.noreply.github.com> <claymurphy@MacBook-Air.localdomain>
Daniel Porteous (dport) <danielporteous1@gmail.com>
David Wolinsky <isaac.wolinsky@gmail.com>
Greg Nazario <greg@gnazar.io>
Jill Xu <jill@aptoslabs.com>
Jill Xu <jill@aptoslabs.com> <121921928+jillxuu@users.noreply.github.com>
Jijun Leng <jijunleng@gmail.com> <jijunleng@gmail.com>
Joshua Lind <josh.lind@hotmail.com>
Joshua Lind <josh.lind@hotmail.com> <josh@aptoslabs.com>
Joseph Hughes <98909677+moonclavedev@users.noreply.github.com>
Joseph Hughes <98909677+moonclavedev@users.noreply.github.com> <41088824+d2Dreamer@users.noreply.github.com>
Junkil Park <jpark@aptoslabs.com> <jkpark@fb.com>
Kevin Hoang <kevin@aptoslabs.com>
Kevin Hoang <kevin@aptoslabs.com> <105028215+movekevin@users.noreply.github.com>
Maayan Savir <maayansavir@gmail.com>
Maayan Savir <maayansavir@gmail.com> <maayan@aptoslabs.com>
Max Kaplan <maximilian.kaplan@gmail.com>
Max Kaplan <maximilian.kaplan@gmail.com> <1482859+CapCap@users.noreply.github.com>
Max Kaplan <maximilian.kaplan@gmail.com> <max@aptoslabs.com>
Raj Karamchedu <raj@aptoslabs.com> <rajkaramchedu@Rajs-MBP.hsd1.ca.comcast.net>
Wolfgang Grieskamp <wgrieskamp@gmail.com> <wg@aptoslabs.com> 
