# **Please** keep this file ordered alphabetically by directory paths.

# Owners for the `.github` directory and all its subdirectories.
/.github/ @aptos-labs/prod-eng

# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario

# Owners for the `/aptos-move` directory and its subdirectories:`aptos-gas`, `aptos-vm`, `framework` and `framework/aptos-stdlib/sources/cryptography`.
/aptos-move/aptos-gas/ @vgao1996
/aptos-move/aptos-vm/ @davidiw @wrwg @zekun000
/aptos-move/e2e-tests/src/account.rs @alinush
/aptos-move/framework/ @davidiw @movekevin @wrwg
/aptos-move/framework/aptos-framework/sources/account.move @alinush
/aptos-move/framework/aptos-stdlib/sources/cryptography/ @alinush

# Owner for aptos-token, cryptography natives, parallel-executor and vm-genesis.
/aptos-move/framework/aptos-token @areshand
/aptos-move/framework/src/natives/cryptography/ @alinush
/aptos-move/parallel-executor/ @gelash @zekun000
/aptos-move/vm-genesis/ @davidiw @movekevin

# Owner for logger config
/config/src/config/logger_config.rs @markuze

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000

# Owners for quorum store.
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash

# Owners for the `/crates/aptos` directory and all its subdirectories.
/crates/aptos @gregnazario

# Owners for the `/crates/aptos-crypto*` directories.
/crates/aptos-crypto-derive/ @alinush
/crates/aptos-crypto/ @alinush

# Owners for the `/crates/aptos-faucet` directory and all its subdirectories. And other faucet, genesis, and OpenAPI-related crates.
/crates/aptos-faucet @banool @gregnazario
/crates/aptos-faucet-cli @gregnazario
/crates/aptos-genesis @gregnazario

# Owners for the aptos-logger crate
/crates/aptos-logger @markuze

/crates/aptos-open-api @banool @gregnazario
/crates/aptos-rest-client @banool @gregnazario

# Owners for the `/aptos-rosetta` directory and related crates.
/crates/aptos-rosetta @gregnazario
/crates/aptos-rosetta-cli @gregnazario

# Owners for the `telemetry` related crates.
/crates/aptos-telemetry @ibalajiarun @geekflyer
/crates/aptos-telemetry-service @ibalajiarun @geekflyer

# Owners for the `/dashboards` directory and all its subdirectories.
/dashboards/ @aptos-labs/prod-eng

# Owners for the `/developer-docs-site` directory and all its subdirectories.
/developer-docs-site/ @davidiw @rajkaramchedu

# Owner for docs tutorials for the token_standard and related tutorials.
/developer-docs-site/docs/tutorials @areshand

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @aptos-labs/prod-eng

# Owners for the `SDKs`.
/ecosystem/python/sdk @davidiw @gregnazario @banool
/ecosystem/typescript/sdk @jjleng @gregnazario @banool

# Owners for execution and storage.
/execution/ @msmouse @lightmark

# Owners for mempool.
/mempool/ @bchocho

# Owners for the `Network Stack`
/networking @markuze

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage.
/storage/ @msmouse @lightmark

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @aptos-labs/prod-eng

/types/src/transaction/authenticator.rs @alinush
