<div class="bg-neutral-900 text-neutral-100 h-full">
  <div class="max-w-screen-2xl mx-auto px-4 sm:px-6 md:px-8 py-4 sm:py-24">
    <div class="bg-neutral-800 bg-cover rounded-lg p-8 md:p-16 lg:p-24 xl:p-32 my-8 lg:mt-16 lg:mb-32" style="background-image: url('<%= image_path('acid_texture_dark.webp') %>')">
      <h3 class="text-base uppercase mb-2 font-mono">Community</h3>
      <h1 class="text-5xl lg:text-6xl mb-8 lg:mb-16 font-display font-light">Projects Building on Aptos</h1>
      <%= render ButtonComponent.new(href: new_project_path, size: :medium, class: 'sm:!inline-flex') do %>
        Submit Project
      <% end %>
    </div>

    <% @groups.each do |category_id, projects| %>
      <% category = @categories[category_id] %>
      <div class="mb-16">
        <h3 class="font-light text-3xl mb-4"><%= category.title %></h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          <% projects.each do |project| %>
            <%= render ProjectCardComponent.new(project:) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
