<% content_for(:page_title, 'Submit Project - Aptos ecosystem') %>
<% content_for(:page_description, 'Submit your project to the Aptos ecosystem') %>

<div class="bg-neutral-900 text-white h-full scroll-pt-10">
  <div class="max-w-screen-2xl mx-auto px-4 sm:px-6 md:px-8 py-12 sm:py-24">
    <h3 class="text-base uppercase text-teal-400 mb-2 font-mono">Community</h3>
    <h2 class="text-6xl mb-4 font-display mb-16">Submit Project</h2>
    <%= render 'form', project: @project %>
  </div>
</div>
