<% content_for(:page_title, 'Careers at Aptos') %>
<% content_for(:page_description, 'Join the Aptos Team - Aptos') %>

<section class="bg-white text-black font-light py-12 sm:py-24">
  <div class="container mx-auto">
    <div class="max-w-4xl mx-auto">
      <h2 class="font-display text-5xl md:text-7xl mb-4 leading-none">
        Careers
      </h2>
      <%= render DividerComponent.new(scheme: :primary, class: 'mt-6 mb-16') %>
      <div class="mb-20">
        <% @job_departments.sort.each do |department, jobs| %>
          <div class="mb-12">
            <h2 class="text-4xl mb-4 block font-display font-light"><%= department %></h2>
            <% jobs.each do |job| %>
              <div class="mb-2">
                <a class="font-light underline decoration-teal-500 decoration-1 underline-offset-4 hover:decoration-2 text-xl" href="<%= job['absolute_url'] %>" target="_blank">
                  <%= job['title'] %>
                </a>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
