<% content_for(:page_title, 'Aptos Privacy Policy') %>
<% content_for(:page_description, 'Aptos Privacy Policy') %>

<section class="bg-white text-black py-12 sm:py-24">
  <div class="mx-auto">
    <div class="max-w-4xl mx-auto">
      <h2 class="font-display font-light text-5xl md:text-7xl mb-4 leading-none">
        Privacy Policy
      </h2>
      <%= render DividerComponent.new(scheme: :primary, class: 'mt-6 mb-16') %>
      <article class="prose lg:prose-lg break-words font-light">
        <p>Latest update: &nbsp;August 2022</p>
        <p>
          This privacy policy ("Privacy Policy") explains how Aptos Labs ("Aptos,"
          "our," "we," or "us") collects, uses, and discloses information about you.
          This Privacy Policy applies when you visit&nbsp;<a
            href="http://aptoslabs.com/"
            target="_blank"
            rel="noopener">aptoslabs.com</a>, use the Aptos Protocol, contact our customer service team, engage with
          us on social media, or otherwise interact with us (the
          &ldquo;Services&rdquo;).&nbsp;
        </p>
        <p>
          We may change this Privacy Policy from time to time. If we make changes,
          we will notify you by revising the date at the top of this policy and, in
          some cases, we may provide you with additional notice (such as adding a
          statement to our Services or sending you a notification). We encourage you
          to review this Privacy Policy regularly to stay informed about our
          information practices and the choices available to you.
        </p>
        <p>COLLECTION OF INFORMATION</p>
        <p>Information You Provide to Us</p>
        <p>
          The categories of personal information we collect depend on how you
          interact with Aptos and its Services. Aptos collects information that you
          provide us, information we obtain automatically when you use our Services
          and information from third-party sources and other organizations. The
          types of personal information we may collect from you include name, email
          address and any other information you choose to provide.&nbsp;
        </p>
        <p>Information We Collect Automatically When You Interact with Us</p>
        <p>
          Aptos may collect certain information automatically when you use our
          Services. Examples of this information include cookie identifiers,
          internet protocol (IP) address, mobile carrier, MAC address, user
          settings, mobile ad identifiers, Internet service provider, browser or
          device information, location information and metadata about information
          you provide Aptos. We may also automatically collect information
          pertaining to your use of our Services. Examples of this information may
          be related to your pages visited, links clicked, content interacted with,
          duration and frequency of your activities and other information about your
          use of our Services.
        </p>
        <p>Information We Collect from Other Sources</p>
        <p>
          We obtain information from third-party sources. For example, we may
          collect information about you from identity verification services, data
          analytics providers, and mailing list providers (if applicable).
          Additionally, our Services may allow you to provide information about your
          family or friends through our referral service, which allows you to
          forward or share certain information with Aptos. Please share information
          only for people that you know.&nbsp;&nbsp;
        </p>
        <p>Public Blockchains</p>
        <p>
          We obtain information from public blockchains, including the Aptos blockchain.
          Such information includes but is not limited to on-chain account
          information and transaction information. This information is used to improve
          the Aptos blockchain, and our services and products, including the Petra Wallet.
        </p>
        <p>USE OF INFORMATION</p>
        <p>We use the information we collect to:&nbsp;</p>
        <ul>
          <li>Provide, maintain, and improve our products and services;</li>
          <li>
            Process transactions and send you related information, including
            confirmations, receipts, invoices, customer experience surveys, and
            recall notices;
          </li>
          <li>Personalize and improve your experience on our Services;</li>
          <li>
            Send you technical notices, security alerts, and support and
            administrative messages;
          </li>
          <li>
            Respond to your comments and questions and provide customer service;
          </li>
          <li>
            Communicate with you about products, services, and events offered by
            Aptos and others and provide news and information that we think will
            interest you;
          </li>
          <li>
            Monitor and analyze trends, usage, and activities in connection with our
            Services;
          </li>
          <li>
            Facilitate contests, sweepstakes, and promotions and process and deliver
            entries and rewards;
          </li>
          <li>
            Detect, investigate, and prevent security incidents and other malicious,
            deceptive, fraudulent, or illegal activity and protect the rights and
            property of Aptos and others;
          </li>
          <li>Debug to identify and repair errors in our Services;</li>
          <li>Tailor and provide you with content and advertisements;&nbsp;</li>
          <li>Comply with our legal and financial obligations; and</li>
          <li>
            Carry out any other purpose described to you at the time the information
            was collected.
          </li>
        </ul>
        <p>SHARING OF INFORMATION</p>
        <p>
          We share personal information in the following circumstances or as
          otherwise described in this policy:
        </p>
        <ul>
          <li>
            We share personal information with vendors, service providers, and
            consultants that need access to personal information in order to perform
            services for us, such as companies that assist us with web hosting,
            shipping and delivery, payment processing, fraud prevention, customer
            service, and marketing and advertising.
          </li>
          <li>
            We may disclose personal information if we believe that disclosure is in
            accordance with, or required by, any applicable law or legal process,
            including lawful requests by public authorities to meet national
            security or law enforcement requirements.
          </li>
          <li>
            We may share personal information if we believe that your actions are
            inconsistent with our user agreements or policies, if we believe that
            you have violated the law, or if we believe it is necessary to protect
            the rights, property, and safety of Aptos, our users, the public, or
            others.
          </li>
          <li>
            We share personal information with our lawyers and other professional
            advisors where necessary to obtain advice or otherwise protect and
            manage our business interests.
          </li>
          <li>
            We may share personal information in connection with, or during
            negotiations concerning, any merger, sale of company assets, financing,
            or acquisition of all or a portion of our business by another company.
          </li>
          <li>
            We share personal information with your consent or at your direction.
          </li>
        </ul>
        <p>
          We also share aggregated or de-identified information that cannot
          reasonably be used to identify you.
        </p>
        <p>ANALYTICS</p>
        <p>
          We allow others to provide analytics services on our behalf across the web
          and in mobile apps. These entities may use cookies, web beacons, device
          identifiers, and other technologies to collect information about your use
          of our Services and other Services and applications, including your IP
          address, web browser, mobile network information, pages viewed, time spent
          on pages or in mobile apps, links clicked, and conversion information.
          This information may be used by Aptos and others to, among other things,
          analyze and track data, determine the popularity of certain content, and
          better understand your online activity. Some examples of our analytics
          partners include:
        </p>
        <ul>
          <li>
            Google Analytics. For more information about how Google uses your data
            (including for its own purposes, e.g., for profiling or linking it to
            other data), please visit
            <a
              href="https://policies.google.com/privacy?hl=en-US"
              target="_blank"
              rel="noopener">Google Analytics Privacy Policy</a>.
          </li>
          <li>
            Mailchimp. To learn about how Mailchimp uses your data, please visit the
            <a
              href="https://www.intuit.com/privacy/statement/"
              target="_blank"
              rel="noopener">Intuit Privacy Statement</a>.&nbsp;&nbsp;
          </li>
          <li>
            Segment. For more information about how Segment uses your data, please visit the
            <a
              href="https://www.twilio.com/legal/privacy"
              target="_blank"
              rel="noopener">Twilio Privacy Policy</a>.
          </li>
          <li>
            Sentry. For more information about how Sentry uses your data, please
            visit the
            <a href="https://sentry.io/privacy/" target="_blank" rel="noopener">Sentry Privacy Policy</a>.
          </li>
          <li>
            Stitch. To learn more about how Stich uses your data, please go to their
            <a href="https://www.talend.com/privacy/" target="_blank" rel="noopener">privacy statement</a>.
          </li>
        </ul>
        <p>SECURITY OF YOUR INFORMATION</p>
        <p>
          Aptos takes steps designed to treat your information securely and in
          accordance with this Privacy Policy. However, there is no guarantee behind
          the security of any information you provide us. As such, Aptos does not
          accept liability for any unauthorized disclosure. If we learn of any
          authorized disclosure of your information, Aptos may attempt to notify you
          electronically or my mail by posting a notice on our Services.
        </p>
        <p>TRANSFER OF INFORMATION TO THE UNITED STATES AND OTHER COUNTRIES</p>
        <p>
          Aptos operates and engages service providers in various jurisdictions.
          Therefore, we and our service providers may transfer your personal
          information to, or store or access it in, jurisdictions that may not
          provide levels of data protection that are equivalent to those of your
          home jurisdiction. We will take steps to ensure that your personal
          information receives an adequate level of protection in the jurisdictions
          in which we process it.
        </p>
        <p>PETRA WALLET</p>
        <p>
          You may access and use the Petra Wallet, which is a digital wallet created
          and operated by Aptos. When setting up an Account within Aptos, you will be
          responsible for keeping your own account secrets,  which may include
          twelve-word seed phrases (“Mnemonic(s)”), your private keys, an account file,
          or other locally stored secret information. Aptos encrypts this information
          locally with a password you provide.
        </p>
        <p>YOUR CALIFORNIA PRIVACY RIGHTS</p>
        <p>
          The California Consumer Privacy Act or "CCPA" (Cal. Civ. Code &sect;
          1798.100&nbsp;et seq.) affords consumers residing in California certain
          rights with respect to their personal information. If you are a California
          resident, this section applies to you.
        </p>
        <p>
          Under the CCPA, you have the right to request to know: (i) the categories
          of personal information we have collected about you in the last 12 months;
          (ii) the specific pieces of personal information we have about you; (iii)
          the categories of sources from which that personal information was
          collected; (iv) the categories of your personal information that we sold
          or disclosed in the last 12 months; (v) the categories of third parties to
          whom your personal information was sold or disclosed in the last 12
          months; and (vi) the purpose for collecting and selling your personal
          information. These rights are subject to limitations as described in the
          CCPA. Aptos may deny your request if we need to do so to comply with our
          legal rights or obligations.
        </p>
        <p>
          We will not discriminate against any consumer for exercising their CCPA
          rights.
        </p>
        <p>
          You may exercise these rights yourself or you may designate an authorized
          agent to make these requests on your behalf. To protect your information,
          we may need to verify your identity before processing your request,
          including by collecting additional information to verify your identity,
          such as government issued identification documents. Aptos will not fulfill
          your request unless you have provided sufficient information for us to
          reasonably verify you are the individual about whom we collected personal
          information. We will only use the personal information provided in the
          verification process to verify your identity or authority to make a
          request and to track and document request responses, unless you initially
          provided the information for another purpose. When we verify your
          agent&rsquo;s request, we may verify your identity and request a signed
          document from your agent that authorizes your agent to make the request on
          your behalf. To protect your personal information, we reserve the right to
          deny a request from an agent that does not submit proof that they have
          been authorized by you to act on their behalf.
        </p>
        <p>
          If you would like to exercise any of these rights, please contact us at
          the email in the &ldquo;Contact us&rdquo; section below.
        </p>
        <p>ADDITIONAL DISCLOSURES FOR INDIVIDUALS IN EUROPE</p>
        <p>
          If you are located in the European Economic Area ("EEA"), the United
          Kingdom, or Switzerland, you have certain rights and protections under the
          law regarding the processing of your personal data, and this section
          applies to you.
        </p>
        <p>Legal Basis for Processing</p>
        <p>
          When we process your personal data, we will do so in reliance on the
          following lawful bases:
        </p>
        <ul>
          <li>
            To perform our responsibilities under our contract with you (e.g.,
            processing payments for and providing the products and services you
            requested).
          </li>
          <li>
            When we have a legitimate interest in processing your personal data to
            operate our business or protect our interests (e.g., to provide,
            maintain, and improve our products and services, conduct data analytics,
            and communicate with you).
          </li>
          <li>
            To comply with our legal obligations (e.g., to maintain a record of your
            consents and track those who have opted out of communications).
          </li>
          <li>
            When we have your consent to do so (e.g., when you opt in to receive
            communications from us). When consent is the legal basis for our
            processing of your personal data, you may withdraw such consent at any
            time.
          </li>
        </ul>
        <p>Data Retention</p>
        <p>
          We store other personal data for as long as necessary to carry out the
          purposes for which we originally collected it and for other legitimate
          business purposes, including to meet our legal, regulatory, or other
          compliance obligations.
        </p>
        <p>Data Subject Requests</p>
        <p>
          Subject to certain limitations, you have the right to request access to
          the personal data we hold about you and to receive your data in a portable
          format, the right to ask that your personal data be corrected or erased,
          and the right to object to, or request that we restrict, certain
          processing. If you would like to exercise any of these rights, please
          contact us at
          <a href="mailto:terms@aptoslabs.com" target="_blank" rel="noopener">terms@aptoslabs.com</a>.&nbsp;
        </p>
        <p>Questions or Complaints</p>
        <p>
          If you have a concern about our processing of personal data that we are
          not able to resolve, you have the right to lodge a complaint with the Data
          Protection Authority where you reside. Contact details for your Data
          Protection Authority can be found using the links below:
        </p>
        <p>
          For individuals in the EEA:&nbsp;<a
            href="https://edpb.europa.eu/about-edpb/board/members_en"
            target="_blank"
            rel="noopener">https://edpb.europa.eu/about-edpb/board/members_en</a>
        </p>
        <p>
          For individuals in the UK:&nbsp;<a
            href="https://ico.org.uk/global/contact-us/"
            target="_blank"
            rel="noopener">https://ico.org.uk/global/contact-us/</a>
        </p>
        <p>
          For individuals in Switzerland:&nbsp;<a
            href="https://www.edoeb.admin.ch/edoeb/en/home/the-fdpic/contact.html"
            target="_blank"
            rel="noopener">https://www.edoeb.admin.ch/edoeb/en/home/the-fdpic/contact.html</a>
        </p>
        <p>CONTACT US</p>
        <p>
          If you have any questions about this Privacy Policy or would like to
          exercise your rights hereunder, please contact us at
          <a href="mailto:terms@aptoslabs.com" target="_blank" rel="noopener">terms@aptoslabs.com</a>
          or Aptos Labs, 745 Emerson St, Palo Alto, CA 94301.
        </p>
      </article>
    </div>
  </div>
</section>
