<section class="bg-white text-black py-12 sm:py-24">
  <div class="container mx-auto">
    <div class="max-w-4xl mx-auto">
      <h2 class="font-display font-light text-5xl md:text-7xl mb-4 leading-none">
        Testnet Participation Terms of Use
      </h2>
      <%= render DividerComponent.new(scheme: :primary, class: 'mt-6 mb-16') %>
      <article class="prose lg:prose-lg break-words font-light">
        <p>Last updated: May 13, 2022</p>
        <p>
          These Aptos Testnet Participation Terms of Use (the &ldquo;Terms&rdquo;)
          apply to your access to and use of the websites, platform, software,
          technologies, features, and other online products and services
          (collectively, the &ldquo;Aptos Services&rdquo;) provided or made
          available by Aptos Labs (&ldquo;Company&rdquo; &ldquo;Aptos&rdquo; or
          &ldquo;we&rdquo;) in connection with the testnet
          (&ldquo;Testnet&rdquo;).&nbsp;
        </p>
        <p>Agreement to Terms</p>
        <p>
          By accessing or using our Aptos Services or by participating in our
          Testnet, you agree to these Terms and to our Privacy Policy[link] and any
          other agreements or terms as set forth by the Company. These Terms
          constitute a binding obligation between you and the Company.&nbsp; If you
          do not agree to these Terms, do not use our Aptos Services. If you have
          any questions about these Terms, the Aptos Services or the Incentived
          Testnet, please contact us at terms@aptoslabs.com.
        </p>
        <p>
          If you are accessing or participating in the Testnet on behalf of a
          company (such as your employer) or other legal entity, you represent and
          warrant that you have the authority to bind that company or other legal
          entity to these Terms. In that case, &ldquo;you&rdquo; and
          &ldquo;your&rdquo; will also refer to that company or other legal entity.
        </p>
        <p>
          YOUR PARTICIPATION IN TESTNET IS ENTIRELY VOLUNTARY, BUT IF YOU ARE
          PARTICIPATING IN TESTNET, YOU MUST STRICTLY ADHERE TO THE TERMS.
        </p>
        <p>
          NOTICE: Please read these Terms carefully as it governs your use of
          the&nbsp;
        </p>
        <p>
          Testnet. These Terms contain important information, including a binding
          arbitration provision and a class action waiver, both of which impact your
          rights as to how disputes are resolved.&nbsp;
        </p>
        <p>Privacy Policy</p>
        <p>
          Please refer to our Privacy Policy[link] for more details on the
          information that the Company may collect, use and disclose and under what
          circumstances. You acknowledge and agree that your participation in
          Testnet is subject to this Privacy Policy.
        </p>
        <p>Changes to Terms</p>
        <p>
          The Company may update the Terms at any time, in its sole discretion. If
          it does so, the Company will deliver a notice either by posting the
          updated Terms on its website, on any applicable Aptos blog or forum used
          for sharing of information, or through other communications. It&rsquo;s
          important that you review any and all updated Terms. If you continue to
          participate in Testnet after the Company has posted updated Terms, you are
          agreeing to be bound by the updated Terms. If you don&rsquo;t agree to be
          bound by the updated Terms, then you&nbsp;
        </p>
        <p>may not participate in Testnet anymore.&nbsp;</p>
        <p>Duration of the Testnet</p>
        <p>
          Testnet will commence on the date prescribed by the Company and continue
          until terminated by the Company in its sole discretion (&ldquo;Testnet
          Period&rdquo;).&nbsp; Notwithstanding any other information provided by
          the Company regarding the Testnet (including on its website, blog posts or
          through other communications (such as forums, Telegram, Discord, or other
          channels), the Company may change, discontinue, or terminate, temporarily
          or permanently, all or any part of Testnet, at any time and without
          notice, at its sole discretion (including prior to providing any
          incentives or rewards).
        </p>
        <p>
          Testnet is designed to improve the operational experience, security, and
          design of the Aptos mainnet protocol and to expose potential issues and to
          improve participant experiences prior to the mainnet launch of the Aptos
          Protocol.
        </p>
        <p>Eligibility for Testnet</p>
        <p>
          You may participate in Testnet only if: (a) you are 18 years or older and
          capable of forming a binding contract with the Company; (b) you are not
          subject of sanctions administered or enforced by any country or government
          or otherwise designated on any list of prohibited or restricted parties
          (including but not limited to the lists maintained by the United Nations
          Security Council, the U.S. Government, the European Union or its Member
          States, or other applicable government authority) or a citizen or
          organized or resident in a country or territory that is the subject of
          country-wide or territory-wide sanctions (including, without limitation,
          Cuba, Democratic People&rsquo;s Republic of Korea, the Crimea, Donetsk,
          and Luhansk regions, Iran, or Syria); and (c) you are not barred from
          participating under applicable law. In addition, to be eligible for any
          incentives or rewards as part of the Testnet, you (i) must be a natural
          person, (ii) must not be a U.S. person or citizen, and (iii) must not be
          an employee, consultant or affiliate of the Company.
        </p>
        <p>
          Furthermore, in order to participate in the incentivized testnet,
          participants must demonstrate the ability to configure and deploy an Aptos
          node to the satisfaction of the Company in its sole discretion and will be
          required to provide certain identifying information (e.g. name, residence
          or domicile, date of birth, etc.) and related documentation and pass
          sanctions and watchlist screening. Failure to provide such identifying
          information, pass sanctions and watchlist screening, and/or a failure to
          demonstrate compliance with the requirements herein may result in
          termination of your participation, forfeiture of any incentives or
          rewards, and prohibition from participating in future testnet challenges,
          and other actions.
        </p>
        <p>
          Among those candidates who register for the incentivized testnet and meet
          all of the eligibility criteria, Company will select the participants for
          the incentivized testnet at its sole discretion based on criteria as
          determined by the Company (including, without limitation, geographical
          distribution and applicant reputation).&nbsp; By applying or registering,
          there is no promise or guarantee that you will be able to participate in
          Testnet.
        </p>
        <p>
          The Company&rsquo;s current plan regarding the Testnet is available
          <a
            href="https://medium.com/aptoslabs/aptos-incentivized-testnet-update-abcfcd94d54c"
            target="_blank"
            rel="noopener">here</a>.&nbsp; However, notwithstanding this information or any other
          information provided by the Company regarding the Testnet (including on
          its website, blog posts or through other communications (such as forums,
          Telegram, Discord, or other channels), Company may change or modify at any
          time the number of participants eligible to participate in Testnet or the
          requirements of the Testnet and terminate any participant&rsquo;s
          participation at any time.
        </p>
        <p>
          The Testnet may operate in certain phases.&nbsp; Your selection or
          participation in any one phase of the Testnet does not imply that you will
          be selected for any other phases of the Testnet.
        </p>
        <p>Third-Party Services</p>
        <p>
          The Company may share identifying information and documentation with
          certain vendors or third-party providers who provide such identity
          verification and sanctions and watchlist screening services (including
          without limitation
          <a href="https://withpersona.com/" target="_blank" rel="noopener">Persona</a>) (the &ldquo;Third-Party Services&rdquo;).&nbsp; For more information on
          Persona and their data privacy practices, please see their privacy policy
          available here:
          <a
            href="https://withpersona.com/legal/privacy-policy"
            target="_blank"
            rel="noopener">https://withpersona.com/legal/privacy-policy</a>. &nbsp; You agree that your access and use of such Third Party Services
          is governed solely by the terms and conditions of such Third Party
          Services, and the Company is not responsible or liable for, and make no
          representations as to any aspect of such Third Party Services, including,
          without limitation, their content or the manner in which they handle,
          protect, manage or process data or any interaction between you and the
          provider of such Third Party Services. You irrevocably waive any claim
          against the Company with respect to such Third-Party Services. We are not
          liable for any damage or loss caused or alleged to be caused by or in
          connection with your enablement, access or use of any such Third-Party
          Services, or your reliance on the privacy practices, data security
          processes or other policies of such Third-Party Services.&nbsp;
        </p>
        <p>Rewards/Incentives</p>
        <p>
          As part of your participation in Testnet, the Company may choose, in its
          sole discretion, to provide certain incentives or rewards to eligible
          participants for completing certain activities, including running a
          validator node and meeting certain performance criteria or other
          requirements set by the Company. &nbsp; Further details are set out in the
          Incentivized Testnet Program website.&nbsp; Other contributions to Testnet
          may further be rewarded by the Company in its discretion.&nbsp; Such
          rewards may include Aptos mainnet tokens; provided, that, (x) any such
          Aptos mainnet tokens will be provided only following successful mainnet
          launch and any tokens provided will be subject to a one-year lockup period
          and (y) U.S. citizens and residents are not eligible for Aptos mainnet
          tokens.&nbsp; Notwithstanding any other information provided by the
          Company regarding the Testnet (including on its website, blog posts or
          through other communications (such as forums, Telegram, Discord, or other
          channels), the Company may in its discretion change or modify the amounts
          or types of rewards or incentives and/or discontinue, or terminate,
          temporarily or permanently, all or any part of the incentives or rewards
          program at any time and without notice and the Company may remove or
          reallocate any rewards or incentives earned by any participant or elect
          not to provide any rewards to any participant.
        </p>
        <p>
          The Company reserves the right to block your access to Testnet.&nbsp; If
          you violate any of the terms and conditions of the Terms (as determined
          solely by the Company) or if you do not complete the necessary information
          or fail to provide accurate information, then you will not be eligible to
          receive rewards.
        </p>
        <p>
          The Company reserves the right to request information about, review and
          investigate all Testnet activities, and to disqualify participants if it
          believes a participant has engaged in any activity that is abusive,
          fraudulent, in bad faith or otherwise fails to meet Testnet standards and
          requirements.&nbsp;
        </p>
        <p>
          You agree that any rewards or incentives received will be for your
          services in testing the Testnet and Aptos network.&nbsp;&nbsp;
        </p>
        <p>Taxes</p>
        <p>
          You are responsible for the payment of all taxes associated with your
          receipt of any rewards (including, if applicable, Aptos mainnet tokens).
          You agree to provide the Company with any additional information and
          complete any required tax or other forms relating to your receipt of such
          rewards.
        </p>
        <p>
          You may suffer adverse tax consequences as a result of your participation
          in Testnet. You hereby represent that (i) you have consulted with a tax
          adviser that you deem advisable in connection with your participation, or
          that you have had the opportunity to obtain tax advice but have chosen not
          to do so, (ii) the Company has not provided you with any tax advice with
          respect to your participation, and (iii) you are not relying on the
          Company for any tax advice.
        </p>
        <p>Security; Wallet</p>
        <p>
          You are responsible for maintaining adequate security and control of any
          and all IDs, passwords, hints, personal identification numbers (PINs), or
          any other codes that you use to access the Testnet as part of your
          systems. The Company assumes no responsibility for any losses resulting
          from any compromise of your systems. or wallet(s).
        </p>
        <p>
          As part of certain phases of the testnet, mainnet or as part of providing
          incentives/rewards, the Company may send or receive testnet tokens or
          rewards to your wallet application. In such a case, you are responsible
          for the management of the private keys and security for your wallet(s).
          The Company does not and will not manage, store, collect or otherwise
          access the private keys for your wallet(s). You&rsquo;re responsible for
          all activities that occur using your wallet, whether or not you know about
          them.
        </p>
        <p>Updates; Monitoring</p>
        <p>
          We may make any improvement, modifications or updates to our Testnet,
          including but not limited to changes and updates to the underlying
          software, infrastructure, security protocols, technical configurations or
          service features (the &ldquo;Updates&rdquo;) from time to time.&nbsp; Your
          continued access and use of our Testnet are subject to such Updates and
          you shall accept any patches, system upgrades, bug fixes, feature
          modifications, or other maintenance work that arise out of such
          Updates.&nbsp; We are not liable for any failure by you to accept and use
          such Updates in the manner specified or required by us.&nbsp; Although the
          Company is&nbsp; not obligated to monitor access to or participation in
          Testnet, it has the right to do so for the purpose of operating Testnet,
          to ensure compliance with the Terms and to comply with applicable law or
          other legal requirements.&nbsp;
        </p>
        <p>Testnet; Testnet Tokens</p>
        <p>
          No Monetary Value.&nbsp;In your use of the Testnet, you may
          accumulate&nbsp;&ldquo;testnet tokens,&rdquo;&nbsp;such as through a
          faucet, which are not, and shall never convert to or accrue to become
          mainnet tokens or any other tokens or virtual assets. Testnet tokens are
          virtual items with no monetary value. Testnet tokens do not constitute any
          currency or property of any type and are not redeemable, refundable, or
          eligible for any fiat or virtual currency or anything else of value.
          Testnet tokens are not transferable between users outside of the Testnet,
          and you may not attempt to sell, trade, or transfer any Testnet tokens
          outside of the Testnet, or obtain any manner of credit using any Testnet
          tokens. Any attempt to sell, trade, or transfer any Testnet tokens outside
          of the Testnet will be null and void.
        </p>
        <p>
          Modification.&nbsp;Aptos may, in its sole discretion, decide to delete,
          wipe or otherwise remove the Testnet at any time without notice,
          including, without limitation, the modification of the presence, amounts,
          or any other conditions applicable to the Testnet tokens, without any
          liability to you or other Testnet users. Aptos does not guarantee that
          Testnet tokens will continue to be offered for a specific length of time
          and you may not rely upon the continued availability of any Testnet
          tokens. If the Testnet expires or terminates, you acknowledge and agree
          that your access to and use of your Testnet tokens will be removed, and
          all accrued Testnet tokens will be deleted from the Testnet system.
          Testnet tokens will not be converted into any future rewards offered by
          Aptos.
        </p>
        <p>Intellectual Property Rights; Feedback</p>
        <p>
          By participating in our Testnet, you do not gain any rights thereto. All
          right, title, and interest in and to our Testnet, including all
          modifications, improvements, and enhancements made thereto, and all
          proprietary rights therein, shall be and remain the Company&rsquo;s sole
          and exclusive property.
        </p>
        <p>
          The Company welcomes feedback, comments and suggestions for improvements
          to the Testnet and related technologies of the Aptos protocol
          (&ldquo;Feedback&rdquo;). You grant to the Company a non-exclusive,
          transferable, worldwide, perpetual, irrevocable, fully-paid, royalty-free
          license, with the right to sublicense, under any and all intellectual
          property rights that you own or control to use, copy, modify, create
          derivative works based upon and otherwise exploit the Feedback for any
          purpose, in any form, format, media or media channels now known or later
          developed or discovered.
        </p>
        <p>Prohibited Activities</p>
        <p>
          You will not (in each case except as otherwise contemplated as part of
          these Terms):
        </p>
        <ul>
          <li>
            Initiate any attacks that violate your cloud service, data-center or
            other applicable third party service provider&rsquo;s rules or policies;
          </li>
          <li>
            Unless as expressly requested by the Company as part of a security or
            similar challenge, disrupt or initiate any attacks against users of the
            Aptos Services or the Testnet;
          </li>
          <li>
            Disrupt, compromise, or otherwise damage data or property owned by other
            parties.
          </li>
          <li>
            Impersonate any person or entity or misrepresent your affiliation with
            any person or entity;
          </li>
          <li>
            Access any accounts or data other than your own (or those for which you
            have explicit, permission from their owners);&nbsp;
          </li>
          <li>
            Interfere with, or attempt to interfere with, the access of any user,
            host or network, including, without limitation, sending a virus,
            overloading, flooding, spamming, creating, encouraging or implementing
            Sibyl attacks;
          </li>
          <li>Sell or resell Aptos Services;&nbsp;</li>
          <li>
            Participate in the Testnet from a jurisdiction other than the
            jurisdiction of your residence (as determined by the identity
            documentation provided by you); and
          </li>
          <li>
            Encourage or enable any other individual or entity to do any of the
            foregoing or otherwise violate the Terms.
          </li>
        </ul>
        <p>Compliance with Laws</p>
        <p>
          You agree that to comply with all applicable laws, rules, regulations, and
          any generally accepted practices or guidelines in the relevant
          jurisdictions (including any laws regarding the export of data or software
          to and from the United States or other relevant countries and all
          applicable privacy and data collection laws and regulations) in connection
          with your participation with Testnet. To the extent required by law, you
          are solely responsible for obtaining or filing any approval, clearance,
          registration, permit, or other regulatory authorization and shall comply
          with the requirements of such authorization.
        </p>
        <p>WARRANTY DISCLAIMERS</p>
        <p>
          THE COMPANY MAKES NO, AND HEREBY DISCLAIMS ALL REPRESENTATIONS AND
          WARRANTIES OF ANY KIND WITH RESPECT TO OUR TESTNET. THE TESTNET IS
          PROVIDED &ldquo;AS IS&rdquo; AND WITH ALL FAULTS AND WITHOUT WARRANTY OF
          ANY KIND. WITHOUT LIMITING THE FOREGOING, THE COMPANY EXPLICITLY DISCLAIMS
          ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
          PURPOSE, VALUE, QUIET ENJOYMENT AND NON-INFRINGEMENT, AND ANY WARRANTIES
          ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE.&nbsp; The Company has
          made no promises or guarantees with respect to delivery of any future
          features or functions. Any discussions of any future features or
          functions, either prior to or following the agreement to these Terms, are
          for informational purposes only, and the Company has no obligation to
          provide any such features or functions. You acknowledge that you have not
          relied on any statement, promise, assurance, or warranty that is not set
          out in the Terms.
        </p>
        <p>
          YOU ACCEPT AND ACKNOWLEDGE THAT THERE ARE RISKS ASSOCIATED WITH
          PARTICIPATING IN TESTNET INCLUDING, BUT NOT LIMITED TO, THE RISK OF
          FAILURE OF HARDWARE, SOFTWARE AND INTERNET CONNECTIONS, THE RISK OF
          MALICIOUS SOFTWARE INTRODUCTION, LOSS OF REWARDS, AND SECURITY RISKS. YOU
          ACCEPT AND ACKNOWLEDGE THAT THE COMPANY WILL NOT BE RESPONSIBLE FOR ANY
          LOSSES, FAILURES, DISRUPTIONS, ERRORS, DISTORTIONS OR DELAYS YOU MAY
          EXPERIENCE WHEN PARTICIPATING IN TESTNET, HOWEVER CAUSED.&nbsp; THE
          COMPANY WILL NOT BE RESPONSIBLE OR LIABLE TO YOU FOR ANY LOSS AND TAKES NO
          RESPONSIBILITY FOR AND WILL NOT BE LIABLE TO YOU FOR YOUR PARTICIPATION IN
          TESTNET.
        </p>
        <p>
          The Company makes no warranty that Testnet will meet your requirements or
          be available on an uninterrupted, secure, or error-free basis or free of
          viruses, errors, or defects. The Company makes no warranty regarding the
          quality, accuracy, timeliness, truthfulness, completeness or reliability
          of any information or materials offered in connection with Testnet. Any
          rewards or incentives you received (including any tokens) as part of the
          Testnet may have no value.
        </p>
        <p>You further understand and agree that:&nbsp;&nbsp;</p>
        <ul>
          <li>
            access to Testnet may require the use of your personal computer and/or
            mobile devices, as well as communications with or use of data and
            storage on such devices. You are responsible for any Internet connection
            or mobile fees and charges that you may incur as part of your voluntary
            participation in Testnet.
          </li>
          <li>
            certain information, including your on-chain transaction records, are
            all public information and can be accessed by anyone, including
            participants and non-participants of Testnet.&nbsp;
          </li>
          <li>
            security and other blockchain audits undertaken by the Company or third
            parties will access user data and could result in the loss of data or
            provoke actions from telecommunications and other third party service
            providers.&nbsp;
          </li>
        </ul>
        <p>LIMITATION OF LIABILITY.&nbsp;</p>
        <p>
          TO THE MAXIMUM EXTENT PERMITTED BY LAW, IN NO EVENT WILL WE OR OUR
          AFFILIATES, SUPPLIERS OR LICENSORS BE LIABLE TO YOU OR ANY THIRD PARTY FOR
          ANY INDIRECT, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES, OR FOR LOSS
          OF USE, LOST PROFITS, OR LOSS OF DATA ARISING OUT OF OR RELATED TO THESE
          TERMS OR THE TESTNET PROGRAM, HOWEVER CAUSED AND REGARDLESS OF THE FORM OF
          ACTION, WHETHER IN CONTRACT, TORT, STRICT LIABILITY, OR OTHERWISE, EVEN IF
          WE OR OUR SUPPLIERS OR LICENSORS HAVE BEEN ADVISED OF THE POSSIBILITY OF
          SUCH DAMAGES. TO THE MAXIMUM EXTENT PERMITTED BY LAW, IN NO EVENT WILL THE
          CUMULATIVE LIABILITY OF US, OUR SUPPLIERS, AND OUR LICENSORS FOR ANY
          CLAIMS ARISING OUT OF OR RELATED TO THESE TERMS OR THE TESTNET EXCEED ONE
          HUNDRED DOLLARS ($100). Some jurisdictions do not allow limitations of
          liability, so the foregoing limitation may not apply to you.
        </p>
        <p>
          THE EXCLUSIONS AND LIMITATIONS OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL
          ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN COMPANY AND YOU.
        </p>
        <p>Indemnification</p>
        <p>
          To the fullest extent permitted by applicable law, you will indemnify,
          defend and hold harmless Company and our subsidiaries and affiliates, and
          each of our respective officers, directors, agents, partners and employees
          (individually and collectively, the &ldquo;Company Parties&rdquo;) from
          and against any losses, liabilities, claims, demands, damages, expenses or
          costs (&ldquo;Claims&rdquo;) arising out of or related to (a) your access
          to or use of the Aptos Services or the Testnet; (b) your violation of
          these Terms; (c) your violation, misappropriation or infringement of any
          rights of another (including intellectual property rights or privacy
          rights); or (d) your conduct in connection with the Aptos Services or your
          participation in the Testnet. You agree to promptly notify the Company
          Parties of any third-party Claims, cooperate with the Company Parties in
          defending such Claims and pay all fees, costs and expenses associated with
          defending such Claims (including attorneys&rsquo; fees). You also agree
          that the Company Parties will have control of the defense or settlement,
          at Company&rsquo;s sole option, of any third-party Claims.
        </p>
        <p>Confidentiality</p>
        <p>
          You acknowledge that, in connection with your participation in the
          Testnet, you may be exposed to data and information, including product,
          technology, business, and strategy information that is confidential and
          proprietary to us (collectively, &ldquo;Confidential Information&rdquo;).
          All Confidential Information shall be sole and exclusive property of the
          Company and may be used by you only for assisting us in resolving any
          security issue you have reported to us. You may not reveal, publish, or
          otherwise disclose the Confidential Information to any third party without
          the prior written consent of the Company, and shall protect the
          Confidential Information from disclosure using the same degree of care you
          use to protect your own confidential information of like kind, but in no
          event using less than reasonable care.&nbsp;
        </p>
        <p>Governing Law; Forum</p>
        <p>
          These Terms and any action related thereto will be governed by the laws of
          the state of California in the United States of America without regard to
          its conflict of laws provisions. The exclusive jurisdiction for all
          Disputes (defined below) will be in the county of Santa Clara, and you and
          Company each waive any objection to such jurisdiction and venue.
        </p>
        <p>DISPUTE RESOLUTION</p>
        <p>
          **Please read the following section carefully because it requires you to
          arbitrate certain disputes and claims with Aptos and limits the manner in
          which you can seek relief from us. No class or representative actions or
          arbitrations are allowed under this arbitration provision. **In addition,
          arbitration precludes you from suing in court or having a jury trial. **
        </p>
        <p>
          (a) Mandatory Arbitration of Disputes. (a) We each agree that any dispute,
          claim or controversy arising out of or relating to your participation in
          Testnet, use of the Aptos Services, or these Terms or the breach,
          termination, enforcement, interpretation or validity thereof
          (collectively, &ldquo;Disputes&rdquo;) will be resolved solely by binding,
          individual arbitration and not in a class, representative or consolidated
          action or proceeding. You and Aptos agree that the U.S. Federal
          Arbitration Act governs the interpretation and enforcement of these Terms,
          and that you and Aptos are each waiving the right to a trial by jury or to
          participate in a class action. This arbitration provision shall survive
          termination of these Terms.
        </p>
        <p>
          (b) Exceptions. As limited exceptions to the section above: (i) we both
          may seek to resolve a Dispute in small claims court if it qualifies; and
          (ii) we each retain the right to seek injunctive or other equitable relief
          from a court to prevent (or enjoin) the infringement or misappropriation
          of our intellectual property rights.
        </p>
        <p>
          (c) Conducting Arbitration and Arbitration Rules. The arbitration will be
          conducted by the American Arbitration Association (&ldquo;AAA&rdquo;)
          under its Consumer Arbitration Rules (the &ldquo;AAA Rules&rdquo;) then in
          effect, except as modified by these Terms. The AAA Rules are available at
          www.adr.org. A party who wishes to start arbitration must submit a written
          Demand for Arbitration to AAA and give notice to the other party as
          specified in the AAA Rules. The AAA provides a form Demand for Arbitration
          at
          <a href="http://www.adr.org" target="_blank" rel="noopener">www.adr.org</a>. The place of arbitration shall be in Palo Alto, CA. The language of
          arbitration shall be English. The parties agree that the arbitrator shall
          have exclusive authority to decide all issues relating to the
          interpretation, applicability, enforceability and scope of this
          arbitration agreement.
        </p>
        <p>
          (d) Arbitration Costs. Payment of all filing, administration and
          arbitrator fees will be governed by the AAA Rules, and we won&rsquo;t seek
          to recover the administration and arbitrator fees we are responsible for
          paying, unless the arbitrator finds your Dispute frivolous. If we prevail
          in arbitration we&rsquo;ll pay all of our attorneys&rsquo; fees and costs
          and won&rsquo;t seek to recover them from you. If you prevail in
          arbitration you will be entitled to an award of attorneys&rsquo; fees and
          expenses to the extent provided under Applicable Law.
        </p>
        <p>
          (e) Injunctive and Declaratory Relief. Except as provided above, the
          arbitrator shall determine all issues of liability on the merits of any
          claim asserted by either party and may award declaratory or injunctive
          relief only in favor of the individual party seeking relief and only to
          the extent necessary to provide relief warranted by that party&rsquo;s
          individual claim. To the extent that you or we prevail on a claim and seek
          public injunctive relief (that is, injunctive relief that has the primary
          purpose and effect of prohibiting unlawful acts that threaten future
          injury to the public), the entitlement to and extent of such relief must
          be litigated in a civil court of competent jurisdiction and not in
          arbitration. The parties agree that litigation of any issues of public
          injunctive relief shall be stayed pending the outcome of the merits of any
          individual claims in arbitration.
        </p>
        <p>
          (f) Class Action Waiver; Jury Trial Waiver. YOU AND APTOS AGREE THAT EACH
          MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL
          CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR
          REPRESENTATIVE PROCEEDING.&nbsp; Further, if the parties&rsquo; Dispute is
          resolved through arbitration, the arbitrator may not consolidate another
          person&rsquo;s claims with your claims, and may not otherwise preside over
          any form of a representative or class proceeding. If this specific
          provision is found to be unenforceable, then the entirety of this Dispute
          Resolution section shall be null and void.&nbsp; You and we both agree to
          waive the right to demand a trial by jury.
        </p>
        <p>
          (g) Severability. With the exception of any of the provisions above
          (&ldquo;Class Action Waiver&rdquo;), if an arbitrator or court of
          competent jurisdiction decides that any part of these Terms is invalid or
          unenforceable, the other parts of these Terms will still apply.
        </p>
        <p>Assignment</p>
        <p>
          You may not sell, assign or transfer any of your rights, duties or
          obligations under these Terms without our prior written consent. Any
          attempt by you to assign or transfer the Terms, without such consent, will
          be null and void.&nbsp; We reserve the right to assign or transfer these
          Terms or any of its rights, duties and obligations hereunder to any third
          party. &nbsp; Subject to the foregoing, these Terms will bind and inure to
          the benefit of the parties, their successors and permitted assigns.&nbsp;
        </p>
        <p>General Terms</p>
        <p>
          Nothing herein shall constitute an employment, consultancy, joint venture,
          or partnership relationship between you and the Company.&nbsp; If any
          provision of the Terms is held invalid or unenforceable by an arbitrator
          or a court of competent jurisdiction, that provision will be enforced to
          the maximum extent permissible and the other provisions of the Terms will
          remain in full force and effect. &nbsp; These Terms reflect the entire
          agreement between the parties relating to the subject matter hereof and
          supersede all prior agreements, representations, statements and
          understandings of the parties. The section titles in these Terms are for
          convenience only and have no legal or contractual effect. Use of the word
          &ldquo;including&rdquo; will be interpreted to mean &ldquo;including
          without limitation.&rdquo;&nbsp;
        </p>
        <p>
          Notices. Any notices or other communications provided by Company under the
          Terms, including those regarding modifications to the Terms, may be given
          by posting to the Aptos website, blog or through other communications
          (such as forums, Telegram, Discord, or other channels).
        </p>
        <p>
          Waiver of Rights. Company&rsquo;s failure to enforce any right or
          provision of these Terms&nbsp; will not be considered a waiver of such
          right or provision. The waiver of any such right or provision will be
          effective only if in writing and signed by a duly authorized
          representative of Company. Except as expressly set forth in these Terms ,
          the exercise by either party of any of its remedies under these Terms will
          be without prejudice to its other remedies under these Terms or otherwise.
        </p>
        <p>
          Contact Information. If you have any questions about these Terms or
          Testnet, please contact terms@aptoslabs.com.
        </p>
      </article>
    </div>
  </div>
</section>
