<% content_for(:page_title, 'Aptos Terms of Use') %>
<% content_for(:page_description, 'Aptos Terms of Use') %>

<section class="bg-white text-black py-12 sm:py-24">
  <div class="container mx-auto">
    <div class="max-w-4xl mx-auto">
      <h2 class="font-display font-light text-5xl md:text-7xl mb-4 leading-none">
        Terms of Use
      </h2>
      <%= render DividerComponent.new(scheme: :primary, class: 'mt-6 mb-16') %>
      <article class="prose lg:prose-lg break-words font-light">
        <p class="italic">Latest update: &nbsp;August 2022</p>
        <p>
          Please read these terms carefully and keep a copy of them for your
          reference. Please also note that there may be specific terms or conditions
          applicable to you as a user in a given jurisdiction, as detailed below.
        </p>
        <p>
          Please refer to our Privacy Policy, available at
          <a href="https://aptoslabs.com/privacy/">https://aptoslabs.com/privacy/</a>
          for information about how we collect, use, share and otherwise process
          information about you.
        </p>
        <h2 class="font-display">AGREEMENT TO TERMS</h2>
        <p>
          This Terms of Service (&ldquo;Terms&rdquo;) is a binding contract between
          you, an individual user or site visitor, whether personally or on behalf
          of an entity (&ldquo;user,&rdquo; &ldquo;you,&rdquo; &ldquo;your&rdquo;)
          and Aptos Labs ( &ldquo;Aptos,&rdquo; &ldquo;we,&rdquo; &ldquo;us&rdquo;
          or &ldquo;our&rdquo;) concerning use of&nbsp; Aptos&rsquo;s services (the
          &ldquo;Service&rdquo;), including the www.aptoslabs.com website as well as
          any other media form, media channel, or mobile website related, linked, or
          otherwise connected thereto (collectively, the &ldquo;Site&rdquo;).
          Currently, Aptos maintains and operates
          <a href="https://aptoslabs.com" target="_blank" rel="noopener">aptoslabs.com</a>
          as a portal for news, information, and updates about the Aptos protocol or
          blockchain (the &ldquo;Aptos Network&rdquo;) and the Aptos ecosystem. For
          the avoidance of doubt, Aptos does not control the Aptos Network and
          cannot control activity and data on the Aptos Network, the activities of
          persons who develop and use applications on the Network, the validation of
          transactions on the Aptos Network, or use of the Aptos Network. The Aptos
          Network is an open-source protocol that is maintained and processed by
          Aptos Network validators across the globe.
        </p>
        <p>
          BY ACCESSING OR USING THE SERVICE, YOU AGREE THAT YOU HAVE READ,
          UNDERSTOOD, AND AGREE TO BE BOUND BY THE TERMS. IF YOU DO NOT AGREE,
          PLEASE DO NOT USE THE SERVICE OR SITE.
        </p>
        <p>
          Supplemental terms and conditions or documents that may be posted on the
          Site from time to time are hereby expressly incorporated herein by
          reference. We reserve the right, in our sole discretion, to make changes
          or modifications to these Terms at any time and for any reason. We will
          alert you about any changes by updating the &ldquo;Last updated&rdquo;
          date of the Terms, and you waive any right to receive specific notice of
          each such change. It is your responsibility to periodically review the
          Terms to stay informed of updates. You will be subject to, and will be
          deemed to have been made aware of and to have accepted, the changes in any
          revised Terms by your continued use of the Service after the date such
          revised Terms is posted.
        </p>
        <p>
          The information provided on the Site is not intended for distribution to
          or use by any person or entity in any jurisdiction or country where such
          distribution or use would be contrary to law or regulation or which would
          subject us to any registration requirement within such jurisdiction or
          country. Accordingly, those persons who choose to access the Site from
          other locations do so on their own initiative and are solely responsible
          for compliance with local laws, if and to the extent local laws are
          applicable.
        </p>
        <p>
          The Service is intended for users who are at least 18 years old. You agree
          that by using the Site and the Service you are at least 18 years of age,
          or accessing the Service under the supervision of a parent or guardian,
          and you are legally able to enter into a contract. If you are a parent or
          legal guardian of a user under the age of 18 (or the age of legal
          majority), you agree to be fully responsible for the acts or omissions of
          such user in relation to the Service. If you use the Service on behalf of
          another person or entity, (a) all references to &ldquo;you&rdquo;
          throughout the Terms will include that person or entity, (b) you represent
          that you are authorized to accept these Terms on that person&rsquo;s or
          entity&rsquo;s behalf, and (c) in the event you or the person or entity
          violates these Terms, the person or entity agrees to be responsible to us.
        </p>
        <p>
          PLEASE NOTE: THE &ldquo;DISPUTE RESOLUTION&rdquo; SECTION OF THIS TERMS
          CONTAINS AN ARBITRATION CLAUSE THAT REQUIRES DISPUTES TO BE ARBITRATED ON
          AN INDIVIDUAL BASIS, AND
          <span class="font-bold">PROHIBITS CLASS ACTION CLAIMS.</span> IT AFFECTS
          HOW DISPUTES BETWEEN YOU AND APTOS ARE RESOLVED. BY ACCEPTING THIS TERMS,
          YOU AGREE TO BE BOUND BY THIS ARBITRATION PROVISION. PLEASE READ IT
          CAREFULLY.
        </p>
        <h2 class="font-display">TERMINATION OR SUSPENSION OF SERVICES</h2>
        <p>
          The Service may only be used by you in compliance with the Terms. You may
          not modify, alter, reproduce, or distribute the Service. You may not
          directly rent, lease, lend, sell, or redistribute the Service. You may not
          copy, decompile, reverse engineer, disassemble, attempt to derive the
          source code of, modify, or create derivative works of any portion of the
          Service, any updates, or any part thereof (except as and only to the
          extent any foregoing restriction is prohibited by applicable law), nor
          attempt to disable or circumvent any security or other technological
          measure designed to protect the Service or any content available through
          the Service. If you breach the Terms, then you may be subject to
          prosecution and damages, as well as liability for infringement of
          intellectual property rights, and denial of access to the Service.
        </p>
        <p>
          WITHOUT LIMITING ANY OTHER PROVISION OF THESE TERMS, WE RESERVE THE RIGHT
          TO, IN OUR SOLE DISCRETION AND WITHOUT NOTICE OR LIABILITY, DENY ACCESS TO
          AND USE OF THE SERVICE (INCLUDING BLOCKING CERTAIN IP ADDRESSES), TO ANY
          PERSON FOR ANY REASON OR FOR NO REASON, INCLUDING WITHOUT LIMITATION FOR
          BREACH OF ANY REPRESENTATION, WARRANTY, OR COVENANT CONTAINED IN THIS
          Terms OR OF ANY APPLICABLE LAW OR REGULATION. WE MAY TERMINATE YOUR USE OR
          PARTICIPATION IN THE SITE AT ANY TIME, WITHOUT WARNING, IN OUR SOLE
          DISCRETION. If we terminate or suspend your access to the Site for any
          reason, you are prohibited from attempting to access the Site under your
          name, a fake or borrowed name, or the name of any third party, even if you
          may be acting on behalf of the third party. In addition to terminating or
          suspending your access, we reserve the right to take appropriate legal
          action, including without limitation pursuing civil, criminal, and
          injunctive redress.
        </p>
        <h2 class="font-display">CONTENT THROUGH THE SERVICES</h2>
        <p>
          You are responsible for your use of the Services and for any content you
          provide, You should only provide content that you are comfortable sharing
          with others. Any use or reliance on any content or materials posted via
          the Services or obtained by you through the Services is at your own risk.
          We do not endorse, support, represent or guarantee the completeness,
          truthfulness, accuracy, or reliability of any content or communications
          posted via the Services or endorse any opinions expressed via the
          Services. You understand that by using the Services, you may be exposed to
          content that might be offensive, harmful, inaccurate or otherwise
          inappropriate, or in some cases, postings that have been mislabeled or are
          otherwise deceptive. All Content is the sole responsibility of the person
          who originated such content. We may not monitor or control the content
          posted via the Services and, we cannot take responsibility for such
          content. We reserve the right to remove content that violates these terms
          or we otherwise deem inappropriate to share on our website, including for
          example, copyright or trademark violations or other intellectual property
          misappropriation, impersonation, unlawful conduct, indecent material or
          harassment. If you believe that your content has been copied in a way that
          constitutes copyright infringement, please report this to our designated
          copyright agent at:
        </p>

        <address class="text-base font-bold">
          <span>Aptos Labs</span><br>
          <span>Attn: Copyright Agent</span><br>
          <span>745 Emerson St.</span><br>
          <span>Palo Alto, CA 94301</span><br><br>
          <span>Email:
            <a href="mailto:copyright@aptoslabs.com">copyright@aptoslabs.com</a></span><br>
        </address>

        <p>
          You retain your rights to any content you submit, post or display on or
          through the Services. By submitting, posting or displaying content on or
          through the Services, you grant us a worldwide, non-exclusive,
          royalty-free license (with the right to sublicense) to use, copy,
          reproduce, process, adapt, modify, publish, transmit, display and
          distribute such content in any and all media or distribution methods now
          known or later developed (for clarity, these rights include, for example,
          curating, transforming, and translating). This license authorizes us to
          make your content available to the rest of the world and to let others do
          the same. You represent and warrant that you have, or have obtained, all
          rights, licenses, consents, permissions, power and/or authority necessary
          to grant the rights granted herein for any content that you submit, post
          or display on or through the Services. You agree that such content will
          not contain material subject to copyright or other proprietary rights,
          unless you have necessary permission or are otherwise legally entitled to
          post the material and to grant Aptos the license described above.
        </p>
        <h2 class="font-display">TESTNET</h2>
        <p>
          (a) No Monetary Value.&nbsp;In your use of the Testnet, you may
          accumulate&nbsp;&ldquo;Testnet Tokens,&rdquo;&nbsp;such as through the
          Testnet faucet, which are not, and shall never convert to or accrue to
          become mainnet tokens or any other tokens or virtual assets. Testnet
          Tokens are virtual items with no monetary value. Testnet Tokens do not
          constitute any currency or property of any type and are not redeemable,
          refundable, or eligible for any fiat or virtual currency or anything else
          of value. Testnet Tokens are not transferable between users outside of the
          Testnet, and you may not attempt to sell, trade, or transfer any Testnet
          Tokens outside of the Testnet, or obtain any manner of credit using any
          Testnet Tokens. Any attempt to sell, trade, or transfer any Testnet Tokens
          outside of the Testnet will be null and void.
        </p>
        <p>
          (b) Modification.Aptos may, in its sole discretion, decide to delete, wipe
          or otherwise remove the Testnet at any time without notice, including,
          without limitation, the modification of the presence, amounts, or any
          other conditions applicable to the Testnet Tokens, without any liability
          to you or other Testnetet users. Aptos does not guarantee that Testnet
          Tokens will continue to be offered for a specific length of time and you
          may not rely upon the continued availability of any Testnet Tokens. If the
          Testnet expires, you acknowledge and agree that your access to and use of
          your Testnet Tokens will be removed, and all accrued Testnet Tokens will
          be deleted from the Testnet system. Testnet Tokens will not be converted
          into any future rewards offered by Aptos.
        </p>
        <h2 class="font-display">PROHIBITED LOCATIONS</h2>
        <p>
          Aptos is not offered to anyone who is a &ldquo;Restricted Person.&rdquo;
          Restricted Persons are those who are subject to sanctions administered or
          enforced by any country or government or otherwise designated on any list
          of prohibited or restricted parties (including but not limited to the
          lists maintained by the United Nations Security Council, the U.S.
          Government, the European Union or its Member States, or other applicable
          government authority) or a citizen or organization or resident in a
          country or territory that is the subject of country-wide or territory-wide
          sanctions (including, without limitation, Cuba, Democratic People&rsquo;s
          Republic of Korea, the Crimea, Donetsk, and Luhansk regions, Iran, or
          Syria). For clarity, if you are a Restricted Person, you are prohibited
          from using the Service.&nbsp;
        </p>
        <h2 class="font-display">PROHIBITED ACTIVITIES</h2>
        <p>
          You may not access or use the Service for any purpose other than that for
          which we make the Service available. The Service may not be used in
          connection with any commercial endeavors except those that are
          specifically endorsed or approved by us.
        </p>
        <p>As a user of the Service, you agree not to:</p>
        <ol>
          <li>
            Systematically retrieve data or other content from the Service to create
            or compile, directly or indirectly, a collection, compilation, database,
            or directory without written permission from us.
          </li>
          <li>
            Make any unauthorized use of the Service, including collecting usernames
            and/or email addresses of users by electronic or other means for the
            purpose of sending unsolicited email, or creating user accounts by
            automated means or under false pretenses.
          </li>
          <li>
            Circumvent, disable, or otherwise interfere with security-related
            features of the Service, including features that prevent or restrict the
            use or copying of any content or enforce limitations on the use of the
            Service and/or the content contained therein.
          </li>
          <li>Engage in unauthorized framing of or linking to the Site.</li>
          <li>
            Trick, defraud, or mislead us and other users, especially in any attempt
            to learn sensitive account information such as user passwords.
          </li>
          <li>
            Make improper use of our support services or submit false reports of
            abuse or misconduct.
          </li>
          <li>
            Engage in any automated use of the system, such as using scripts to send
            comments or messages, or using any data mining, robots, or similar data
            gathering and extraction tools.
          </li>
          <li>
            Interfere with, disrupt, or create an undue burden on the Site or the
            networks or services connected to the Site.
          </li>
          <li>Attempt to impersonate another user or person.</li>
          <li>
            Use any information obtained from the Site in order to harass, abuse, or
            harm another person.
          </li>
          <li>
            Use the Service as part of any effort to compete with us or otherwise
            use the Service and/or the content for any revenue-generating endeavor
            or commercial enterprise.
          </li>
          <li>
            Decipher, decompile, disassemble, or reverse engineer any of the
            software comprising or in any way making up a part of the Site.
          </li>
          <li>
            Harass, annoy, intimidate, or threaten any of our employees or agents
            engaged in providing any portion of the Service to you.
          </li>
          <li>
            Attempt to bypass any measures of the Site designed to prevent or
            restrict access to the Site, or any portion of the Site.
          </li>
          <li>
            Delete the copyright or other proprietary rights notice from any
            content.
          </li>
          <li>
            Copy or adapt the Site&rsquo;s software, including but not limited to
            Flash, PHP, HTML, JavaScript, or other code.
          </li>
          <li>
            Upload or transmit (or attempt to upload or to transmit) viruses, Trojan
            horses, or other material, including excessive use of capital letters
            and spamming (continuous posting of repetitive text), that interferes
            with any party&rsquo;s uninterrupted use and enjoyment of the Service or
            modifies, impairs, disrupts, alters, or interferes with the use,
            features, functions, operation, or maintenance of the Service.
          </li>
          <li>
            Upload or transmit (or attempt to upload or to transmit) any material
            that acts as a passive or active information collection or transmission
            mechanism, including without limitation, clear graphics interchange
            formats (&ldquo;gifs&rdquo;), 1&times;1 pixels, web bugs, cookies, or
            other similar devices (sometimes referred to as &ldquo;spyware&rdquo; or
            &ldquo;passive collection mechanisms&rdquo; or &ldquo;pcms&rdquo;).
          </li>
          <li>
            Except as may be the result of standard search engine or Internet
            browser usage, use, launch, develop, or distribute any automated system,
            including without limitation, any spider, robot, cheat utility, scraper,
            or offline reader that accesses the Site, or using or launching any
            unauthorized script or other software.
          </li>
          <li>
            Disparage, tarnish, distribute hate speech/explicit content or otherwise
            harm, in our opinion, us, the Service and/or other users of the Service.
          </li>
          <li>
            Copy, reproduce, distribute, publicly perform or publicly display all or
            portions of our Service, except as expressly permitted by us or our
            licensors.
          </li>
          <li>
            Modify our Service, remove any proprietary rights notices or markings,
            or otherwise make any derivative works based upon our Service.
          </li>
          <li>
            Use VPN software or any other tools to circumvent any restrictions that
            apply to the use of Aptos.
          </li>
          <li>
            Infringe any patent, trademark, trade secret, copyright or other
            intellectual or proprietary right of Aptos or any third party.
          </li>
          <li>
            Be listed on any sanctions list or equivalent maintained by the United
            States government.&nbsp;
          </li>
          <li>
            Use the Service in a manner inconsistent with any applicable laws or
            regulations.
          </li>
        </ol>
        <h2 class="font-display">SITE MANAGEMENT</h2>
        <p>
          We reserve the right, but not the obligation, to: (1) monitor the Site for
          violations of this Terms; (2) take appropriate legal action against anyone
          who, in our sole discretion, violates the law or this Terms, including
          without limitation, reporting such user to law enforcement authorities;
          (3) in our sole discretion and without limitation, notice, or liability,
          to remove from the Site or otherwise disable all files and content that
          are excessive in size or are in any way burdensome to our systems; and (4)
          otherwise manage the Site in a manner designed to protect our rights and
          property and to facilitate the proper functioning of the Site.
        </p>
        <h2 class="font-display">TRADEMARKS</h2>
        <p>
          &ldquo;Aptos&rdquo; and our logos, our product or service names, our
          slogans and the look and feel of the Service are trademarks of Aptos and
          may not be copied, imitated or used, in whole or in part, without our
          prior written permission, which may be obtained by emailing
          <a href="mailto:terms@aptoslabs.com" target="_blank" rel="noopener">terms@aptoslabs.com</a>. All other trademarks, registered trademarks, product names and company
          names or logos mentioned on the Service are the property of their
          respective owners. Reference to any products, services, processes or other
          information by trade name, trademark, manufacturer, supplier or otherwise
          does not constitute or imply endorsement, sponsorship or recommendation by
          us.
        </p>
        <p>
          Governing Law and Forum Choice.&nbsp;These Terms and any action related
          thereto will be governed by the U.S. Federal Arbitration Act, federal
          arbitration law, and the laws of the State of California, without regard
          to its conflict of laws provisions. Except as otherwise expressly set
          forth in the &ldquo;Dispute Resolution&rdquo; section below, the exclusive
          jurisdiction for all Disputes (defined below) that you and Aptos are not
          required to arbitrate will be the state and federal courts located in the
          county of Santa Clara, California, and you and Aptos each waive any
          objection to jurisdiction and venue in such courts.
        </p>
        <h2 class="font-display">DISPUTE RESOLUTION</h2>
        <p>
          **Please read the following section carefully because it requires you to
          arbitrate certain disputes and claims with Aptos and limits the manner in
          which you can seek relief from us. No class or representative actions or
          arbitrations are allowed under this arbitration provision. **In addition,
          arbitration precludes you from suing in court or having a jury trial.
          **(a)&nbsp;Mandatory Arbitration of Disputes. (a) We each agree that any
          dispute, claim or controversy arising out of or relating to these Terms or
          the breach, termination, enforcement, interpretation or validity thereof
          or the use of the Interface (collectively,&nbsp;&ldquo;Disputes&rdquo;)
          will be resolved&nbsp;solely by binding, individual arbitration and not in
          a class, representative or consolidated action or proceeding. You and
          Aptos agree that the U.S. Federal Arbitration Act governs the
          interpretation and enforcement of these Terms, and that you and Aptos are
          each waiving the right to a trial by jury or to participate in a class
          action. This arbitration provision shall survive termination of these
          Terms.
        </p>
        <p>
          (b)&nbsp;Exceptions. As limited exceptions to the section above: (i) we
          both may seek to resolve a Dispute in small claims court if it qualifies;
          and (ii) we each retain the right to seek injunctive or other equitable
          relief from a court to prevent (or enjoin) the infringement or
          misappropriation of our intellectual property rights.
        </p>
        <p>
          (c)&nbsp;Conducting Arbitration and Arbitration Rules. The arbitration
          will be conducted by the American Arbitration Association
          (&ldquo;AAA&rdquo;) under its Consumer Arbitration Rules (the &ldquo;AAA
          Rules&rdquo;) then in effect, except as modified by these Terms. The AAA
          Rules are available at&nbsp;<a
            href="https://sui.io/terms/www.adr.org"
            target="_blank"
            rel="noopener">www.adr.org</a>. A party who wishes to start arbitration must submit a written Demand
          for Arbitration to AAA and give notice to the other party as specified in
          the AAA Rules. The AAA provides a form Demand for Arbitration at&nbsp;<a
            href="https://sui.io/terms/www.adr.org"
            target="_blank"
            rel="noopener">www.adr.org</a>. The place of arbitration shall be Palo Alto, California. The language
          of arbitration shall be English. The parties agree that the arbitrator
          shall have exclusive authority to decide all issues relating to the
          interpretation, applicability, enforceability and scope of this
          arbitration agreement.
        </p>
        <p>
          (d)&nbsp;Arbitration Costs. Payment of all filing, administration and
          arbitrator fees will be governed by the AAA Rules, and we won&rsquo;t seek
          to recover the administration and arbitrator fees we are responsible for
          paying, unless the arbitrator finds your Dispute frivolous. If we prevail
          in arbitration we&rsquo;ll pay all of our attorneys&rsquo; fees and costs
          and won&rsquo;t seek to recover them from you. If you prevail in
          arbitration you will be entitled to an award of attorneys&rsquo; fees and
          expenses to the extent provided under Applicable Law.
        </p>
        <p>
          (e)&nbsp;Injunctive and Declaratory Relief. Except as provided above, the
          arbitrator shall determine all issues of liability on the merits of any
          claim asserted by either party and may award declaratory or injunctive
          relief only in favor of the individual party seeking relief and only to
          the extent necessary to provide relief warranted by that party&rsquo;s
          individual claim. To the extent that you or we prevail on a claim and seek
          public injunctive relief (that is, injunctive relief that has the primary
          purpose and effect of prohibiting unlawful acts that threaten future
          injury to the public), the entitlement to and extent of such relief must
          be litigated in a civil court of competent jurisdiction and not in
          arbitration. The parties agree that litigation of any issues of public
          injunctive relief shall be stayed pending the outcome of the merits of any
          individual claims in arbitration.
        </p>
        <p>
          (f)&nbsp;Class Action Waiver.&nbsp;YOU AND APTOS AGREE THAT EACH MAY BRING
          CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY, AND NOT
          AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE
          PROCEEDING.&nbsp; Further, if the parties&rsquo; Dispute is resolved
          through arbitration, the arbitrator may not consolidate another
          person&rsquo;s claims with your claims, and may not otherwise preside over
          any form of a representative or class proceeding. If this specific
          provision is found to be unenforceable, then the entirety of this Dispute
          Resolution section shall be null and void.
        </p>
        <p>
          (g)&nbsp;Severability. With the exception of any of the provisions above
          (&ldquo;Class Action Waiver&rdquo;), if an arbitrator or court of
          competent jurisdiction decides that any part of these Terms is invalid or
          unenforceable, the other parts of these Terms will still apply.
        </p>
        <h2 class="font-display">UPDATES</h2>
        <p>
          There may be information on the Site that contains typographical errors,
          inaccuracies, or omissions, including descriptions, pricing, availability,
          and various other information. We reserve the right to correct any errors,
          inaccuracies, or omissions and to change or update the information on the
          Site at any time, without prior notice. Aptos does not warrant that the
          content will be uninterrupted or error free or free of computer viruses,
          contaminants or other harmful items.
        </p>
        <h2 class="font-display">DISCLAIMER</h2>
        <p>
          THE SITE AND SERVICE IS PROVIDED ON AN &ldquo;AS-IS&rdquo; AND
          &ldquo;AS-AVAILABLE&rdquo; BASIS. TO THE MAXIMUM EXTENT PERMITTED BY LAW,
          APTOS WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE
          OF THE SITE OR SERVICE, INCLUDING, BUT NOT LIMITED TO INDIRECT,
          INCIDENTAL, PUNITIVE, EXEMPLARY, SPECIAL OR CONSEQUENTIAL DAMAGES, EVEN IF
          WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. YOU AGREE THAT
          YOUR USE OF THE SITE AND SERVICE WILL BE AT YOUR SOLE RISK. APTOS IS NOT
          RESPONSIBLE FOR ANY DAMAGES OR LOSSES THAT RESULT FROM YOUR USE OF THE
          SERVICE, INCLUDING, BUT NOT LIMITED TO, YOUR USE OR INABILITY TO USE THE
          SERVICE; ANY CHANGES TO OR INACCESSIBILITY OR TERMINATION OF THE SERVICE;
          ANY DELAY, FAILURE, UNAUTHORIZED ACCESS TO, OR ALTERATION OF ANY
          TRANSMISSION OR DATA; ANY TRANSACTION OR AGREEMENT ENTERED INTO THROUGH
          THE SERVICE; ANY ACTIVITIES OR COMMUNICATIONS OF THIRD PARTIES; OR ANY
          DATA OR MATERIAL FROM A THIRD PERSON ACCESSED ON OR THROUGH THE SERVICES.
          WE MAKE NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR
          COMPLETENESS OF THE SITE&rsquo;S CONTENT OR THE CONTENT OF ANY WEBSITES
          LINKED TO THE SITE AND WE WILL ASSUME NO LIABILITY OR RESPONSIBILITY FOR
          ANY (1) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT AND MATERIALS, (2)
          PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING
          FROM YOUR ACCESS TO AND USE OF THE SITE OR SERVICE, (3) ANY UNAUTHORIZED
          ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL
          INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (4) ANY
          INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM THE SITE, (5) ANY
          BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR
          THROUGH THE SITE BY ANY THIRD PARTY, AND/OR (6) ANY ERRORS OR OMISSIONS IN
          ANY CONTENT AND MATERIALS OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED
          AS A RESULT OF THE USE OF ANY CONTENT POSTED, TRANSMITTED, OR OTHERWISE
          MADE AVAILABLE VIA THE SITE.
        </p>
        <p>
          IF YOU ARE DISSATISFIED WITH THE SERVICE, YOU AGREE THAT YOUR SOLE AND
          EXCLUSIVE REMEDY SHALL BE FOR YOU TO DISCONTINUE YOUR USE OF THE SERVICE.
          SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL
          OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION AND EXCLUSIONS MAY NOT
          APPLY TO YOU.
        </p>
        <p>
          Aptos may link to products and services offered by third parties through
          the Service. These third-party products and services are not offered by
          Aptos and Aptos is not responsible for any damages or losses that you
          might incur as a result of your use or purchase of these products and
          services.
        </p>
        <p>
          You shall and hereby do waive California Civil Code Section 1542 or any
          other similar law of any jurisdiction, which says in substance: &ldquo;A
          general release does not extend to claims which the creditor does not know
          or suspect to exist in his favor at the time of executing the release,
          which, if known by him must have materially affected his settlement with
          the debtor.&rdquo; Some jurisdictions do not allow the exclusion of
          implied warranties, so the above exclusion may not apply to you. You may
          have other rights which vary from jurisdiction to jurisdiction.
        </p>
        <h2 class="font-display">INDEMNIFICATION</h2>
        <p>
          You hereby agree to defend, indemnify, and hold Aptos harmless from and
          against any loss, damage, liability, claim, or demand, including
          reasonable attorneys&rsquo; fees and expenses, made by any third party due
          to or arising out of: (1) use of the Service; (2) breach of these Terms;
          (3) any breach of your representations and warranties set forth in these
          Terms; (4) your violation of the rights of a third party, including but
          not limited to intellectual property rights; (5) any overt harmful act
          toward any other user of the Service with whom you connected via the
          Service; or (6) any breach of, or failure to comply with, applicable law.
          Notwithstanding the foregoing, we reserve the right, at your expense, to
          assume the exclusive defense and control of any matter for which you are
          required to indemnify us, and you agree to cooperate, at your expense,
          with our defense of such claims. We will use reasonable efforts to notify
          you of any such claim, action, or proceeding which is subject to this
          indemnification upon becoming aware of it.
        </p>
        <h2 class="font-display">MODIFYING AND TERMINATING OUR SERVICE</h2>
        <p>
          We reserve the right to modify our Service or to suspend or stop providing
          all or portions of our Service at any time. You also have the right to
          stop using our Service at any time. We are not responsible for any loss or
          harm related to your inability to access or use our Service.
        </p>
        <h2 class="font-display">USER DATA</h2>
        <p>
          Although we perform regular routine backups of data, you are solely
          responsible for all data that you transmit or that relates to any activity
          you have undertaken using the Site. You agree that we shall have no
          liability to you for any loss or corruption of any such data, and you
          hereby waive any right of action against us arising from any such loss or
          corruption of such data.
        </p>
        <h2 class="font-display">
          ELECTRONIC COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES
        </h2>
        <p>
          You agree and consent to receive disclosures and communications from us
          regarding our services (&ldquo;Communications&rdquo;), including, but not
          limited to:
        </p>
        <ul>
          <li>Terms and conditions of service, and amendments thereto;</li>
          <li>Privacy policies and notices, and amendments thereto;</li>
          <li>Client agreements and receipts;</li>
          <li>Legal and regulatory disclosures and communications; and</li>
          <li>Customer service communications.</li>
        </ul>
        <p>
          We may provide Communications to you by email or by making them accessible
          on the Site or through email (including via &ldquo;hyperlinks&rdquo;
          provided online and in emails). We may always, in our sole discretion,
          provide you with any Communication via paper.
        </p>
        <p>
          Visiting the Site, sending us emails, and completing online forms
          constitute Communications. You consent to receive Communications, and you
          agree that all agreements, notices, disclosures, and other communications
          we provide to you electronically, via email and on the Site, satisfy any
          legal requirement that such communication be in writing. YOU HEREBY AGREE
          TO THE USE OF ELECTRONIC SIGNATURES, CONTRACTS, ORDERS, AND OTHER RECORDS,
          AND TO ELECTRONIC DELIVERY OF NOTICES, POLICIES, AND RECORDS OF
          TRANSACTIONS INITIATED OR COMPLETED BY US OR VIA THE SITE. You hereby
          waive any rights or requirements under any statutes, regulations, rules,
          ordinances, or other laws in any jurisdiction which require an original
          signature or delivery or retention of non-electronic records, or to
          payments or the granting of credits by any means other than electronic
          means.
        </p>
        <h4 class="font-display">Withdrawal of Consent</h4>
        <p>
          You may withdraw your consent to receive Communications under this Terms
          by contacting us at
          <a href="mailto:terms@aptoslabs.com" target="_blank" rel="noopener">terms@aptoslabs.com</a>. We will process your request to withdraw your consent to receive
          electronic Communications in a reasonable time. After we process your
          request, your access and use of the Service will terminate.
        </p>
        <h4 class="font-display">Requesting Paper Copies</h4>
        <p>
          You may request that we mail a paper copy of any electronic Communication
          by contacting us at
          <a href="mailto:terms@aptoslabs.com" target="_blank" rel="noopener">terms@aptoslabs.com</a>. We may charge you fees associated with processing and mailing your
          request. We will send a copy of the Communication to you within a
          reasonable timeframe.
        </p>
        <h4 class="font-display">Termination and Changes</h4>
        <p>
          We reserve the right, in our sole discretion, to discontinue the provision
          of your Communications, or to terminate or change the terms and conditions
          on which we provide Communications. We will provide you notice of such
          termination or change as required by law.
        </p>
        <h2 class="font-display">CALIFORNIA USERS AND RESIDENTS</h2>
        <p>
          If any complaint with us is not satisfactorily resolved, you can contact
          the Complaint Assistance Unit of the Division of Consumer Services of the
          California Department of Consumer Affairs in writing at 1625 North Market
          Blvd., Suite N 112, Sacramento, California 95834 or by telephone at (800)
          952-5210 or (916) 445-1254.
        </p>
        <h2 class="font-display">MISCELLANEOUS</h2>
        <p>
          These Terms and any policies or operating rules posted by us on the Site
          or in respect to the Service constitute the entire agreement and
          understanding between you and us. Our failure to exercise or enforce any
          right or provision of these Terms shall not operate as a waiver of such
          right or provision. These Terms operate to the fullest extent permissible
          by law. We may assign any or all of our rights and obligations to others
          at any time. We shall not be responsible or liable for any loss, damage,
          delay, or failure to act caused by any cause beyond our reasonable
          control. If any provision or part of a provision of these Terms is
          determined to be unlawful, void, or unenforceable, that provision or part
          of the provision is deemed severable from these Terms and does not affect
          the validity and enforceability of any remaining provisions. There is no
          joint venture, partnership, employment or agency relationship created
          between you and us as a result of these Terms or use of the Service. You
          agree that these Terms will not be construed against us by virtue of
          having drafted them. You hereby waive any and all defenses you may have
          based on the electronic form of these Terms and lack of signing by the
          parties hereto to execute these Terms.
        </p>
        <h2 class="font-display">CONTACT US</h2>
        <p>
          In order to resolve a complaint regarding the Site or to receive further
          information regarding use of the Service, please contact us at:
          <a href="mailto:terms@aptoslabs.com" target="_blank" rel="noopener">terms@aptoslabs.com</a>.&nbsp;
        </p>
      </article>
    </div>
  </div>
</section>
