<div class="flex-[2]">
  <h2 class="text-4xl text-teal-400 font-mono mb-16 mt-8">Welcome, <%= @oauth_username || @oauth_email %>!</h2>

  <p class="mb-4 font-light">
  A verification email has been sent to <strong class="text-teal-400"><%= current_user.unconfirmed_email %></strong>.
  </p>
  <p class="mb-4 font-light">
  Please verify your email by clicking the link sent to your inbox.
  </p>
  <p class="mb-4 font-light">
  If you have not received this email, please check your spam folder, or <%= render(LinkComponent.new(href: onboarding_email_path)) { "click here" } %> to send a new email.
  </p>
</div>
