.root {
  background-color: var(--default-background-color);
  text-shadow: 0.5px 0 0;
}

.root :global(.width-wrapper) {
  padding: 0px var(--nav-right-padding) 0 var(--nav-left-padding);
}

.root :global(.active) {
  text-decoration: underline;
}
