[submodule "depends/pistache"]
	path = depends/pistache
	url = https://github.com/pistacheio/pistache
[submodule "depends/json"]
	path = depends/json
	url = https://github.com/nlohmann/json.git
[submodule "depends/ffiasm"]
	path = depends/ffiasm
	url = https://github.com/iden3/ffiasm
	branch = master
[submodule "depends/circom_runtime"]
	path = depends/circom_runtime
	url = https://github.com/iden3/circom_runtime.git
[submodule "depends/cpp-httplib"]
	path = depends/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
