<div class="p-6">
  <div class="flex flex-col gap-4">
    <% if notice %>
      <p class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded"><%= alert %></p>
    <% end %>

    <p class="bg-gray-100 border border-gray-400 text-gray-700 px-4 py-3 rounded">
      <% if current_user.it1_profile %>
        IT1 application received.
        <%= link_to "Edit your application", edit_it1_profile_path(current_user.it1_profile), class: "underline" %>
      <% else %>
        Registration for IT1 is open!
        <%= link_to "Apply now", it1_path, class: "underline" %>
      <% end %>
    </p>
  </div>
</div>
