<div class="p-6">
   <div class="flex flex-col gap-4">
     <%= render "layouts/flash" %>

    <% if current_user.confirmed_at.nil? %>
      <p class="bg-gray-100 border border-gray-400 text-gray-700 px-4 py-3 rounded">
      Your email has not yet been verified. Didn't receive a verification email? <%= render(LinkComponent.new(href: onboarding_email_path)) { "Re-send verification email" } %>
      </p>
    <% end %>

    <p class="bg-gray-100 border border-gray-400 text-gray-700 px-4 py-3 rounded">
      <% if current_user.it1_profile %>
        IT1 application received.
        <%= render(LinkComponent.new(href: edit_it1_profile_path(current_user.it1_profile))) { "Edit your application" } %>
      <% else %>
        Registration for IT1 is open!
        <%= render(LinkComponent.new(href: it1_path)) { "Apply now" } %>
      <% end %>
    </p>
  </div>
</div>
