<div class="p-6">
   <div class="flex flex-col gap-4">
     <%= render "layouts/flash" %>

    <% if current_user.confirmed_at.nil? %>
      <p class="bg-gray-100 border border-gray-400 text-gray-700 px-4 py-3 rounded">
      Your email has not yet been verified. Didn't receive a verification email? <%= link_to "Re-send verification email", onboarding_email_path, class: "underline" %>
      </p>
    <% end %>

    <p class="bg-gray-100 border border-gray-400 text-gray-700 px-4 py-3 rounded">
      <% if current_user.it1_profile %>
        IT1 application received.
        <%= link_to "Edit your application", edit_it1_profile_path(current_user.it1_profile), class: "underline" %>
      <% else %>
        Registration for IT1 is open!
        <%= link_to "Apply now", it1_path, class: "underline" %>
      <% end %>
    </p>
  </div>
</div>
