<% content_for(:page_title, 'Aptos Proposals') %>
<div class="bg-neutral-900 text-white h-full">
  <p class="text-xl">
   Create proposal
  </p>

  <%= render "form", proposal: @proposal %>

  <br>

  <div>
    <%= link_to "Back to proposals", proposals_path %>
  </div>
</div>