<div class="bg-neutral-900 text-white h-full p-6 sm:p-24 2xl:px-48">
  <h2 class="text-6xl mb-4">Incentivized Testnet</h2>
  <div class="mb-8">
    <%= render 'shared/bump_hero' %>
  </div>

  <%= render "form", it1_profile: @it1_profile %>
</div>
