<div class="bg-neutral-900 text-white h-full">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8 py-12 sm:py-24">
    <h2 class="text-6xl mb-4 font-display font-light">Incentivized Testnet</h2>
    <div class="mb-16">
      <%= render 'shared/bump_hero' %>
    </div>
    <%= render "form", it1_profile: @it1_profile %>
  </div>
</div>
