.root {
  height: unset;
}

.menu {
  background-color: var(--nav-secondary-background);
  border-bottom: 1px solid var(--popup-background);
  font-size: 16px;
  left: 0;
  padding: 16px;
  position: fixed;
  top: unset;
  width: 100%;
  z-index: 10;
}

.menu a {
  color: var(--nav-secondary-text-color);
  text-decoration: none;
}

html[data-theme='dark'] {
  --popup-background: var(--nav-secondary-background);
}

:root {
  --popup-background: #e5e5e5;
};
