<% offer_dependent_logic(@nft_offer) %>
<div class="bg-neutral-900 text-white h-full">
  <div class="max-w-screen-2xl mx-auto px-4 sm:px-6 md:px-8 py-12 sm:py-24">
    <h2 class="text-6xl mb-4 font-display font-light">
      <%= content_for(:page_title) || 'Claim NFT' %>
    </h2>
    <div class="mb-16">
      <%= render DividerComponent.new(scheme: :primary) %>
    </div>

    <%= form_with(model: @nft_offer, builder: AptosFormBuilder, method: 'put') do |f| %>
      <div class="w-64 h-64 border border-white rounded-lg mb-8"></div>
      <%= f.submit 'Claim' %>
    <% end %>
  </div>
</div>
