<h3>
  Sending
  <% if @notification_type == :governance_proposal_notification %>
    Governance Proposal
  <% elsif @notification_type == :node_upgrade_notification %>
    Node Upgrade
  <% else %>
    UNKNOWN - ERROR!
  <% end %>
  Notifications
</h3>
<p>This is expected to generate <%= @users.count %> notifications.</p>
<%= button_to 'Send Notifications', notify_admin_network_operation_path(@network_operation, notification_type: @notification_type), method: :post %>
