<% flash.each do |type, msg| %>
  <% if type == "notice" %>
    <div class="flex p-4 mb-8 bg-teal-100 rounded-lg" role="alert">
      <div class="ml-3 text-sm font-medium text-teal-800">
        <%= msg %>
      </div>
      <button type="button" class="flex items-center justify-center ml-auto -mx-1.5 -my-1.5 bg-transparent text-teal-600 hover:text-teal-800 rounded-lg inline-flex w-8 h-8 p-1.5" data-dismiss-target="#alert-2" aria-label="Close" onclick="this.parentElement.remove()">
        <span class="sr-only">Close</span>
        <%= render IconComponent.new(:close, class: 'w-5 h-5') %>
      </button>
    </div>
  <% elsif type == "alert" %>
        <div class="flex p-4 mb-8 bg-red-100 rounded-lg" role="alert">
      <div class="ml-3 text-sm font-medium text-red-800">
        <%= msg %>
      </div>
      <button type="button" class="flex items-center justify-center ml-auto -mx-1.5 -my-1.5 bg-transparent text-red-500 hover:text-red-800 rounded-lg inline-flex w-8 h-8 p-1.5" data-dismiss-target="#alert-2" aria-label="Close" onclick="this.parentElement.remove()">
        <span class="sr-only">Close</span>
        <%= render IconComponent.new(:close, class: 'w-5 h-5') %>
      </button>
    </div>
  <% end %>
<% end %>
