<% flash.each do |type, msg| %>
  <% if type == "notice" %>
    <div class="flex p-4 mb-8 bg-surf-100 rounded-lg dark:bg-surf-100" role="alert">
      <div class="ml-3 text-sm font-medium text-surf-800">
        <%= msg %>
      </div>
      <button type="button" class="flex items-center justify-center ml-auto -mx-1.5 -my-1.5 bg-transparent text-surf-600 hover:text-surf-800 rounded-lg inline-flex w-8 h-8 p-1.5" data-dismiss-target="#alert-2" aria-label="Close" onclick="this.parentElement.remove()">
        <span class="sr-only">Close</span>
            <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 64 51.9"><polygon points="57.84 2.93 55.02 0.11 32 23.12 8.98 0.1 6.16 2.93 29.17 25.95 6.16 48.97 8.98 51.8 32 28.78 55.02 51.8 57.84 48.97 34.83 25.95 57.84 2.93"></polygon></svg>
      </button>
    </div>
        <div class="flex p-4 mb-8 bg-red-100 rounded-lg dark:bg-red-200" role="alert">
      <div class="ml-3 text-sm font-medium text-red-800">
        <%= msg %>
      </div>
      <button type="button" class="flex items-center justify-center ml-auto -mx-1.5 -my-1.5 bg-transparent text-red-500 hover:text-red-800 rounded-lg inline-flex w-8 h-8 p-1.5" data-dismiss-target="#alert-2" aria-label="Close" onclick="this.parentElement.remove()">
        <span class="sr-only">Close</span>
            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 64 51.9"><polygon points="57.84 2.93 55.02 0.11 32 23.12 8.98 0.1 6.16 2.93 29.17 25.95 6.16 48.97 8.98 51.8 32 28.78 55.02 51.8 57.84 48.97 34.83 25.95 57.84 2.93"></polygon></svg>
      </button>
    </div>
  <% end %>
<% end %>
