KEY=255d861b-5ea1-5996-9aa3-922530ec40b1
SECRET=6116487b-cda1-52c2-b5b5-c8022c45e263

DB_CLIENT=postgres
DB_HOST=host.docker.internal
DB_PORT=5432
DB_DATABASE=community_platform_dev
DB_USER=
DB_PASSWORD=

ADMIN_EMAIL=
ADMIN_PASSWORD=
