
.blockquote {
    border-left-style: solid;
    border-left-width: 4px;
    color: var(--doc-primary);
    font-style: italic;
}

.note {
    --ifm-blockquote-background-color: transparent;
    --ifm-blockquote-border-color: rgb(229, 231, 235);
}

.info {
    --ifm-blockquote-background-color: rgb(239, 246, 255);
    --ifm-blockquote-border-color: rgb(229, 231, 235);
}

.warning {
    --ifm-blockquote-background-color: rgb(252, 248, 242);
    --ifm-blockquote-border-color: rgb(240, 173, 78);
}

.danger {
    --ifm-blockquote-background-color: rgb(253, 247, 247);
    --ifm-blockquote-border-color: rgb(217, 83, 79);
}
