resource "vault_transit_secret_backend_key" "diem_root" {
    backend    = var.transit_mount
    name       = "${var.namespace}__diem_root"
    type       = "ed25519"
    depends_on = [null_resource.mounts_created]
}

resource "vault_transit_secret_backend_key" "treasury_compliance" {
    backend    = var.transit_mount
    name       = "${var.namespace}__treasury_compliance"
    type       = "ed25519"
    depends_on = [null_resource.mounts_created]
}
