<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <h1><%= @network_operation.title %></h1>
    <%= sanitize @network_operation.content %>
  </body>
</html>
