<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <h1><%= @node_maintenance.title %></h1>
    <%= sanitize @node_maintenance.content %>
  </body>
</html>
