<div class="w-full lg:w-96">
  <%= render 'shared/outline_card' do %>
    <h3 class="font-mono uppercase text-xl mb-4">Schedule</h3>
    <hr class="border-[#1dd7a5] mb-4">
    <p class="mb-4"><em>All dates and times shown are for Pacific Time.</em></p>
    <h4 class="font-mono uppercase text-[#1dd7a5] text-lg">May 13</h4>
    <p class="mb-4">Registration starts. Node and identity verification begins.</p>
    <h4 class="font-mono uppercase text-[#1dd7a5] text-lg">May 20</h4>
    <p class="mb-4">Node registration locked. Only 48 hours left to complete identity verification.</p>
    <h4 class="font-mono uppercase text-[#1dd7a5] text-lg">May 23</h4>
    <p class="mb-4">Selection process concludes. Email notifications are sent.</p>
    <h4 class="font-mono uppercase text-[#1dd7a5] text-lg">May 24</h4>
    <p>Aptos Incentivized Testnet 1 goes live at noon. Validator score tracking begins.</p>
  <% end %>
</div>
