<h3 class="mb-4 font-display text-4xl">
  Ensuring a production-grade Aptos mainnet.
</h3>
<p class="mb-8 text-xl">
The Aptos community is coming together to build a secure, reliable, and decentralized network through a series of incentivized testnets.
</p>
<ul class="flex flex-col leading-tight text-base">
  <li class="flex gap-2 items-center">
    <div class="text-teal-400 text-2xl">&rarr;</div>
    <div>Read more <%= render(LinkComponent.new(href: 'https://medium.com/aptoslabs/aptos-incentivized-testnet-update-abcfcd94d54c')) { 'Aptos Incentivized Testnet 1 details' } %>.</div>
  </li>
  <li class="flex gap-2 items-center">
    <div class="text-teal-400 text-2xl">&rarr;</div>
    <div>Please review the <%= render(LinkComponent.new(href: 'https://aptoslabs.com/terms-testnet/')) { 'Aptos Testnet Participation Terms of Use' } %>.</div>
  </li>
</ul>
