<h3 class="mb-4 font-display text-3xl">
  Ensuring a production-grade Aptos mainnet.
</h3>
<p class="mb-4">
The Aptos community is coming together to build a secure, reliable, and decentralized network through a series of incentivized testnets.
</p>
<ul>
  <li class="before:content-['🡒'] before:text-teal-400 before:pr-1">
    Read more <a href="https://medium.com/aptoslabs/aptos-incentivized-testnet-update-abcfcd94d54c" class="border-b border-teal-400">Aptos Incentivized Testnet 1 details</a>.
  </li>
  <li class="before:content-['🡒'] before:text-teal-400 before:pr-1">
    Please review the <a href="https://aptoslabs.com/terms-testnet/" class="border-b border-teal-400">Testnet Participation Terms of Use</a>.
  </li>
</ul>
