<h3 class="mb-4 font-display text-4xl">
  Ensuring a production-grade Aptos mainnet.
</h3>
<p class="mb-8 text-xl">
The Aptos community is coming together to build a secure, reliable, and decentralized network through a series of incentivized testnets.
</p>
<ul class="flex flex-col gap-4 md:gap-2 text-base leading-tight">
  <li class="flex gap-2 items-start">
    <div class="text-teal-400 text-xl leading-none">&rarr;</div>
    <div>Read more <%= render(LinkComponent.new(href: 'https://medium.com/aptoslabs/completing-ait1-ait2-in-hot-pursuit-3f159f4bfb8b')) { 'Aptos Incentivized Testnet 2 details' } %>.</div>
  </li>
  <li class="flex gap-2 items-start">
    <div class="text-teal-400 text-xl leading-none">&rarr;</div>
    <div>Please review the <%= render(LinkComponent.new(href: terms_testnet_path)) { 'Aptos Testnet Participation Terms of Use' } %>.</div>
  </li>
</ul>
