<ul class="flex flex-col gap-4 md:gap-2 text-base leading-tight">
  <li class="flex gap-2 items-start">
    <div class="text-teal-400 text-xl leading-none">&rarr;</div>
    <div>Read more <%= render(LinkComponent.new(href: 'https://aptoslabs.medium.com/welcome-to-aptos-incentivized-testnet-3-9d7ce888205c', target: '_blank')) { 'Aptos Incentivized Testnet 3 details' } %>.</div>
  </li>
  <li class="flex gap-2 items-start">
    <div class="text-teal-400 text-xl leading-none">&rarr;</div>
    <div>Please review the <%= render(LinkComponent.new(href: terms_testnet_path)) { 'Aptos Testnet Participation Terms of Use' } %>.</div>
  </li>
</ul>
