<div class="self-start relative z-0 mix-blend-lighten">
  <div class="border border-white rounded-md absolute -z-10 -ml-2 mt-2 h-full w-full"></div>
  <div class="border border-white rounded-md p-8 bg-black">
    <%= yield %>
  </div>
</div>
