<% content_for(:page_title, @article.title) %>
<section class="bg-white text-black py-12 sm:py-24">
  <div class="mx-auto">
    <div class="max-w-4xl mx-auto">
      <h2 class="font-display font-light text-5xl md:text-7xl mb-4 leading-none">
        <%= content_for(:page_title) %>
      </h2>
      <%= render DividerComponent.new(scheme: :primary, class: 'mt-6 mb-16') %>
      <article class="prose lg:prose-lg break-words font-light">
        <%= sanitize @article.content %>
      </article>
    </div>
  </div>
</section>
