global
    log stdout len 10240 format raw local0
    log {{ include "diem-validator.fullname" . }}-logging:1514 len 10240 local0
    maxconn 500000
    nbthread 16
    user nobody

defaults
    log global
    option tcplog
    maxconn 500000
    timeout queue 1s
    timeout connect 10s
    timeout server 60s
    timeout client 60s
    timeout client-fin 5s

frontend validator
    bind :6180
    default_backend validator

    # Deny requests from blocked IPs
    tcp-request connection reject if { src -n -f /usr/local/etc/haproxy/blocked.ips }

    # Limit to N TCP connections per minute per source IP
    stick-table type ip size 500k expire 1m store gpc0_rate(1m)
    tcp-request connection track-sc0 src
    # TODO: Reject at content phase for now so we get logs, but this should be
    # done at connection phase for higher efficiency
    tcp-request content reject if { sc_gpc0_rate(0) ge {{ .Values.haproxy.limits.validator.connectionsPerIPPerMin }} }
    tcp-request content sc-inc-gpc0(0) unless { nbsrv(validator) eq 0 }

backend validator
    default-server maxconn 1024 {{ if .Values.haproxy.config.send_proxy_protocol }}send-proxy-v2{{ end }}
    server {{ include "diem-validator.fullname" . }}-validator {{ include "diem-validator.fullname" . }}-validator:6180

# For testing purposes only!
# Exposes the validator's own JSON-RPC
{{- if .Values.exposeValidatorJsonRpc }}
frontend validator-jsonrpc
    mode http
    option httplog
    bind :8180
    default_backend validator-jsonrpc
    http-request add-header Forwarded "for=%ci"

    # Deny requests from blocked IPs
    tcp-request connection reject if { src -n -f /usr/local/etc/haproxy/blocked.ips }

backend validator-jsonrpc
    mode http
    default-server maxconn 1024
    server {{ include "diem-validator.fullname" $ }}-validator {{ include "diem-validator.fullname" $ }}-validator:8080
{{- end }}

{{- range $index, $config := $.Values.fullnode.groups }}

frontend {{ $config.name }}-diemnet
    bind :{{ add 6182 $index }}
    default_backend {{ $config.name }}-diemnet

    # Deny requests from blocked IPs
    tcp-request connection reject if { src -n -f /usr/local/etc/haproxy/blocked.ips }

backend {{ $config.name }}-diemnet
    default-server maxconn 1024 {{ if $.Values.haproxy.config.send_proxy_protocol }}send-proxy-v2{{ end }}
    server {{ include "diem-validator.fullname" $ }}-{{ $config.name }} {{ include "diem-validator.fullname" $ }}-{{ $config.name }}:6182

frontend {{ $config.name }}-jsonrpc
    mode http
    option httplog
    bind :{{ add 8080 $index }}
    {{- if $.Values.haproxy.tls_secret }}
    bind :{{ add 8443 $index }} ssl crt /etc/haproxy/tls/
    {{- end }}
    default_backend {{ $config.name }}-jsonrpc
    # add Forwarded header, which behaves differently than X-Forwarded-For
    # see https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Forwarded
    http-request add-header Forwarded "for=%ci"

    # Deny requests from blocked IPs
    tcp-request connection reject if { src -n -f /usr/local/etc/haproxy/blocked.ips }

backend {{ $config.name }}-jsonrpc
    mode http
    default-server maxconn 1024
    server {{ include "diem-validator.fullname" $ }}-{{ $config.name }} {{ include "diem-validator.fullname" $ }}-{{ $config.name }}:8080

frontend {{ $config.name }}-api
    mode http
    option httplog
    bind :{{ add 8081 $index }}
    default_backend {{ $config.name }}-api
    # add Forwarded header, which behaves differently than X-Forwarded-For
    # see https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Forwarded
    http-request add-header Forwarded "for=%ci"

    # Deny requests from blocked IPs
    tcp-request connection reject if { src -n -f /usr/local/etc/haproxy/blocked.ips }

backend {{ $config.name }}-api
    mode http
    default-server maxconn 1024
    server {{ include "diem-validator.fullname" $ }}-{{ $config.name }} {{ include "diem-validator.fullname" $ }}-{{ $config.name }}:8081

{{- end }}

frontend stats
    mode http
    bind :9101
    option http-use-htx
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /stats
    monitor-uri /healthy
