.root {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: calc( var(--subnav-height) - var(--nav-border-width) );
  padding-right: 2px;
}

.right {
  display: flex;
  margin-bottom: 0;
}
