<div class="flex flex-col lg:flex-row gap-8 sm:gap-24 xl:gap-48 justify-between flex-[2]">
  <div>
    <div class="sm:w-[36rem] mb-8 sm:mb-12 font-light sm:text-lg">
      <p class="mb-4">
      Ensuring a production-grade Aptos mainnet.
      <br>
      The Aptos community is coming together to build a secure, reliable, and decentralized network through a series of incentivized testnets.
      </p>
      <p>
      Additional detail of the Aptos Incentivized Testnet 1 available <a href="https://medium.com/aptoslabs/aptos-incentivized-testnet-update-abcfcd94d54c" class="underline">here</a>.
      Please review the <a href="https://aptoslabs.com/terms-testnet/" class="underline">terms and conditions</a>.
      </p>
    </div>
    <% if user_signed_in? %>
      <div class="p-4 rounded bg-[#374151]">
        <h3 class="mb-2">We now require Discord.</h3>
        <p class="mb-4 font-light text-sm">
        Link your Discord.
        </p>
        <%= render LoginButtonComponent.new(provider: :discord, size: :large, class: 'w-full') %>
      </div>
    <% else %>
    <div class="mb-8 sm:mb-12">
      <%= render LoginButtonComponent.new(provider: :discord, size: :large, class: 'w-full') %>
    </div>
    <div>
      <p class="mb-4 font-light text-sm">
      If you previously authorized with GitHub, please note that we now require authorization via Discord...
      </p>
      <%= render LoginButtonComponent.new(provider: :github, class: 'py-4') %>
    </div>
    <% end %>
  </div>
</div>
