<div class="flex flex-col lg:flex-row gap-8 sm:gap-24 xl:gap-48 justify-between flex-[2]">
  <div>
    <div class="sm:w-[36rem] mb-8 sm:mb-12 font-light sm:text-lg">
      <%= render 'shared/it1_intro' %>
    </div>
    <% if user_signed_in? %>
      <div class="p-4 rounded-lg bg-neutral-700">
        <h3 class="mb-2">You are now signed in with your previous GitHub registration.</h3>
        <p class="mb-4 font-light text-sm">
        Click below to link your Discord account.
        </p>
        <%= render LoginButtonComponent.new(provider: :discord, size: :large, class: 'w-full') %>
      </div>
    <% else %>
    <div class="mb-8 sm:mb-12">
      <%= render LoginButtonComponent.new(provider: :discord, size: :large, class: 'w-full') %>
    </div>
    <div class="p-4 rounded-lg bg-neutral-700">
      <h3 class="mb-2">IMPORTANT: We now require all users to sign in with Discord.</h3>
      <p class="mb-4 font-light text-sm">
      If you previously signed up with GitHub, click below to preserve your verification status.
      </p>
      <%= render LoginButtonComponent.new(provider: :github, size: :large, class: 'w-full') %>
    </div>
    <% end %>
  </div>
</div>
