.root {
  --toc-color: black;
  font-size: 13px;
  padding: 20px var(--right-sidebar-horizontal-padding) 50px;
}

.root > .category {
  padding: 0;
}

.category > .category > .heading > a {
  padding-bottom: 13px;
}

.title,
.contentsLink {
  display: block;
  padding-bottom: 7px;
}

.title {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 13px;
  text-transform: uppercase;
}

.contentsLink {
  font-size: 14px;
}

.category {
  padding: 0 10px;
}

.root a,
.root code {
  color: var(--toc-color);
}

.root a:hover,
.root code:hover {
  color: var(--accent-highlight);
}

html[data-theme='dark'] .root {
  --toc-color: var(--gray-2);
}
